<div class="container">
    <div class="row">
        <div class="col-md-3 border-right">
            <partial name="_AccountLeftMenuPartial" />
        </div>

        <div class="col-md-9">
            <div class="pt-5 pl-md-5 pt-lg-8 pl-lg-9 space-bottom-2 mb-lg-4">
                <h6 class="font-weight-medium font-size-7 ml-lg-1 mb-5 mb-lg-8 pb-xl-1">
                    Addresses
                </h6>
                <div class="row row-cols-1 row-cols-md-3">
                    <div class="col">
                        <div class="mb-6 mb-md-0">
                            <h6 class="font-weight-medium font-size-22 mb-3">Ev Adresi</h6>
                            <address class="d-flex flex-column mb-4">
                                <span class="text-gray-600 font-size-2">Name, surname</span>
                                <span class="text-gray-600 font-size-2">xxxx mahallesi, xxxx. caddesi xxx. sokak
                                    xxNumara
                                    xxxdaire</span>

                                <span class="text-gray-600 font-size-2">XXXXXX/ANKARA</span>
                                <span class="text-gray-600 font-size-2">TÜRKİYE</span>
                            </address>
                            <div class="d-flex">
                                <button type="submit"
                                    class="btn btn-dark width-150 rounded-0 btn-wide font-weight-medium">
                                    Edit
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-6 mb-md-0">
                            <h6 class="font-weight-medium font-size-22 mb-3">
                                yURT DIŞI EV Adresi
                            </h6>
                            <address class="d-flex flex-column mb-4">
                                <span class="text-gray-600 font-size-2">Name, surname</span>
                                <span class="text-gray-600 font-size-2">xxxx mahallesi, xxxx. caddesi xxx. sokak
                                    xxNumara
                                    xxxdaire</span>

                                <span class="text-gray-600 font-size-2">XXXXXX/ANKARA</span>
                                <span class="text-gray-600 font-size-2">TÜRKİYE</span>
                            </address>
                            <div class="d-flex">
                                <button type="submit"
                                    class="btn btn-dark width-150 rounded-0 btn-wide font-weight-medium">
                                    Edit
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-6 mb-md-0">
                            <h6 class="font-weight-medium font-size-22 mb-3">iŞ Adresi</h6>
                            <address class="d-flex flex-column mb-4">
                                <span class="text-gray-600 font-size-2">Name, surname</span>
                                <span class="text-gray-600 font-size-2">xxxx mahallesi, xxxx. caddesi xxx. sokak
                                    xxNumara
                                    xxxdaire</span>

                                <span class="text-gray-600 font-size-2">XXXXXX/ANKARA</span>
                                <span class="text-gray-600 font-size-2">TÜRKİYE</span>
                            </address>
                            <div class="d-flex">
                                <button type="submit"
                                    class="btn btn-dark width-150 rounded-0 btn-wide font-weight-medium">
                                    Edit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>