<div class="container">
    <div class="row">
        <div class="col-md-3 border-right">
            <partial name="_AccountLeftMenuPartial" />
        </div>

        <div class="col-md-9">
            <div class="pt-5 pl-md-5 pt-lg-8 pl-lg-9 space-bottom-lg-2 mb-lg-4">
                <h6 class="font-weight-medium font-size-7 ml-lg-1 mb-lg-8 pb-xl-1">
                    Your Comments
                </h6>
                <table class="table">
                    <thead>
                        <tr class="border">
                            <th scope="col" class="py-3 border-bottom-0 font-weight-medium pl-3 pl-md-5">
                                Title
                            </th>
                            <th scope="col" class="py-3 border-bottom-0 font-weight-medium">
                                Comment
                            </th>
                            <th scope="col" class="py-3 border-bottom-0 font-weight-medium">
                                Date
                            </th>
                            <th scope="col" class="py-3 border-bottom-0 font-weight-medium">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border">
                            <th class="pl-3 pl-md-5 font-weight-normal align-middle py-6">
                                Berbat Bir kitap
                            </th>
                            <td class="align-middle py-5">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga, voluptatum iusto sapiente, dolorum impedit velit incidunt laudantium molestiae illum eaque dolor. Dolor accusamus reiciendis iste corporis corrupti sunt cupiditate expedita!
                            </td>
                            <td class="align-middle py-5">March 26, 2020</td>
                            <td class="align-middle py-5">
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-dark rounded-0 btn-wide font-weight-medium">
                                        Go to Book
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>