<body>
 
@*
  <aside id="sidebarContent9" class="u-sidebar u-sidebar__lg" aria-labelledby="sidebarNavToggler9">
    <div class="u-sidebar__scroller">
      <div class="u-sidebar__container">
        <div class="u-header-sidebar__footer-offset">
          <div class="d-flex align-items-center position-absolute top-0 right-0 z-index-2 mt-5 mr-md-6 mr-4">
            <button type="button" class="close ml-auto" aria-controls="sidebarContent9" aria-haspopup="true"
              aria-expanded="false" data-unfold-event="click" data-unfold-hide-on-scroll="false"
              data-unfold-target="#sidebarContent9" data-unfold-type="css-animation"
              data-unfold-animation-in="fadeInRight" data-unfold-animation-out="fadeOutRight"
              data-unfold-duration="500">
              <span aria-hidden="true">Close <i class="fas fa-times ml-2"></i></span>
            </button>
          </div>

          <div class="js-scrollbar u-sidebar__body">
            <div class="u-sidebar__content u-header-sidebar__content">
              <form class="">
                <div id="login1" data-target-group="idForm1">
                  <header class="border-bottom px-4 px-md-6 py-4">
                    <h2 class="font-size-3 mb-0 d-flex align-items-center">
                      <i class="flaticon-user mr-3 font-size-5"></i>Account
                    </h2>
                  </header>

                  <div class="p-4 p-md-6">
                    <div class="form-group mb-4">
                      <div class="js-form-message js-focus-state">
                        <label id="signinEmailLabel9" class="form-label" for="signinEmail9">Username or email *</label>
                        <input type="email" class="form-control rounded-0 height-4 px-4" name="email" id="signinEmail9"
                          placeholder="creativelayers088@gmail.com" aria-label="creativelayers088@gmail.com"
                          aria-describedby="signinEmailLabel9" required />
                      </div>
                    </div>

                    <div class="form-group mb-4">
                      <div class="js-form-message js-focus-state">
                        <label id="signinPasswordLabel9" class="form-label" for="signinPassword9">Password *</label>
                        <input type="password" class="form-control rounded-0 height-4 px-4" name="password"
                          id="signinPassword9" placeholder="" aria-label="" aria-describedby="signinPasswordLabel9"
                          required />
                      </div>
                    </div>

                    <div class="d-flex justify-content-between mb-5 align-items-center">
                      <div class="js-form-message">
                        <div class="custom-control custom-checkbox d-flex align-items-center text-muted">
                          <input type="checkbox" class="custom-control-input" id="termsCheckbox1" name="termsCheckbox1"
                            required />
                          <label class="custom-control-label" for="termsCheckbox1">
                            <span class="font-size-2 text-secondary-gray-700">
                              Remember me
                            </span>
                          </label>
                        </div>
                      </div>

                      <a class="js-animation-link text-dark font-size-2 t-d-u link-muted font-weight-medium"
                        href="javascript:;" data-target="#forgotPassword1" data-link-group="idForm1"
                        data-animation-in="fadeIn">Forgot Password?</a>
                    </div>
                    <div class="mb-4d75">
                      <button type="submit" class="btn btn-block py-3 rounded-0 btn-dark">
                        Sign In
                      </button>
                    </div>
                    <div class="mb-2">
                      <a href="javascript:;"
                        class="js-animation-link btn btn-block py-3 rounded-0 btn-outline-dark font-weight-medium"
                        data-target="#signup1" data-link-group="idForm1" data-animation-in="fadeIn">Create Account</a>
                    </div>
                  </div>
                </div>

                <div id="signup1" style="display: none; opacity: 0" data-target-group="idForm1">
                  <header class="border-bottom px-4 px-md-6 py-4">
                    <h2 class="font-size-3 mb-0 d-flex align-items-center">
                      <i class="flaticon-resume mr-3 font-size-5"></i>Create
                      Account
                    </h2>
                  </header>

                  <div class="p-4 p-md-6">
                    <div class="form-group mb-4">
                      <div class="js-form-message js-focus-state">
                        <label id="signinEmailLabel11" class="form-label" for="signinEmail11">Email *</label>
                        <input type="email" class="form-control rounded-0 height-4 px-4" name="email" id="signinEmail11"
                          placeholder="creativelayers088@gmail.com" aria-label="creativelayers088@gmail.com"
                          aria-describedby="signinEmailLabel11" required />
                      </div>
                    </div>

                    <div class="form-group mb-4">
                      <div class="js-form-message js-focus-state">
                        <label id="signinPasswordLabel11" class="form-label" for="signinPassword11">Password *</label>
                        <input type="password" class="form-control rounded-0 height-4 px-4" name="password"
                          id="signinPassword11" placeholder="" aria-label="" aria-describedby="signinPasswordLabel11"
                          required />
                      </div>
                    </div>

                    <div class="form-group mb-4">
                      <div class="js-form-message js-focus-state">
                        <label id="signupConfirmPasswordLabel9" class="form-label" for="signupConfirmPassword9">Confirm
                          Password *</label>
                        <input type="password" class="form-control rounded-0 height-4 px-4" name="confirmPassword"
                          id="signupConfirmPassword9" placeholder="" aria-label=""
                          aria-describedby="signupConfirmPasswordLabel9" required />
                      </div>
                    </div>

                    <div class="mb-3">
                      <button type="submit" class="btn btn-block py-3 rounded-0 btn-dark">
                        Create Account
                      </button>
                    </div>
                    <div class="text-center mb-4">
                      <span class="small text-muted">Already have an account?</span>
                      <a class="js-animation-link small" href="javascript:;" data-target="#login1"
                        data-link-group="idForm1" data-animation-in="fadeIn">Login
                      </a>
                    </div>
                  </div>
                </div>

                <div id="forgotPassword1" style="display: none; opacity: 0" data-target-group="idForm1">
                  <header class="border-bottom px-4 px-md-6 py-4">
                    <h2 class="font-size-3 mb-0 d-flex align-items-center">
                      <i class="flaticon-question mr-3 font-size-5"></i>Forgot
                      Password?
                    </h2>
                  </header>

                  <div class="p-4 p-md-6">
                    <div class="form-group mb-4">
                      <div class="js-form-message js-focus-state">
                        <label id="signinEmailLabel33" class="form-label" for="signinEmail33">Email *</label>
                        <input type="email" class="form-control rounded-0 height-4 px-4" name="email" id="signinEmail33"
                          placeholder="creativelayers088@gmail.com" aria-label="creativelayers088@gmail.com"
                          aria-describedby="signinEmailLabel33" required />
                      </div>
                    </div>

                    <div class="mb-3">
                      <button type="submit" class="btn btn-block py-3 rounded-0 btn-dark">
                        Recover Password
                      </button>
                    </div>
                    <div class="text-center mb-4">
                      <span class="small text-muted">Remember your password?</span>
                      <a class="js-animation-link small" href="javascript:;" data-target="#login1"
                        data-link-group="idForm1" data-animation-in="fadeIn">Login
                      </a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>*@

  @*<aside id="sidebarContent" class="u-sidebar u-sidebar__lg" aria-labelledby="sidebarNavToggler">
    <div class="u-sidebar__scroller">
      <div class="u-sidebar__container">
        <div class="u-header-sidebar__footer-offset">
          <div class="d-flex align-items-center position-absolute top-0 right-0 z-index-2 mt-5 mr-md-6 mr-4">
            <button type="button" class="close ml-auto" aria-controls="sidebarContent" aria-haspopup="true"
              aria-expanded="false" data-unfold-event="click" data-unfold-hide-on-scroll="false"
              data-unfold-target="#sidebarContent" data-unfold-type="css-animation"
              data-unfold-animation-in="fadeInRight" data-unfold-animation-out="fadeOutRight"
              data-unfold-duration="500">
              <span aria-hidden="true">Close <i class="fas fa-times ml-2"></i></span>
            </button>
          </div>

          <div class="js-scrollbar u-sidebar__body">
            <div class="u-sidebar__content u-header-sidebar__content">
              <form class="">
                <div id="login" data-target-group="idForm">
                  <header class="border-bottom px-4 px-md-6 py-4">
                    <h2 class="font-size-3 mb-0 d-flex align-items-center">
                      <i class="flaticon-user mr-3 font-size-5"></i>Account
                    </h2>
                  </header>

                  <div class="p-4 p-md-6">
                    <div class="form-group mb-4">
                      <div class="js-form-message js-focus-state">
                        <label id="signinEmailLabel" class="form-label" for="signinEmail">Username or email *</label>
                        <input type="email" class="form-control rounded-0 height-4 px-4" name="email" id="signinEmail"
                          placeholder="creativelayers088@gmail.com" aria-label="creativelayers088@gmail.com"
                          aria-describedby="signinEmailLabel" required />
                      </div>
                    </div>

                    <div class="form-group mb-4">
                      <div class="js-form-message js-focus-state">
                        <label id="signinPasswordLabel" class="form-label" for="signinPassword">Password *</label>
                        <input type="password" class="form-control rounded-0 height-4 px-4" name="password"
                          id="signinPassword" placeholder="" aria-label="" aria-describedby="signinPasswordLabel"
                          required />
                      </div>
                    </div>

                    <div class="d-flex justify-content-between mb-5 align-items-center">
                      <div class="js-form-message">
                        <div class="custom-control custom-checkbox d-flex align-items-center text-muted">
                          <input type="checkbox" class="custom-control-input" id="termsCheckbox" name="termsCheckbox"
                            required />
                          <label class="custom-control-label" for="termsCheckbox">
                            <span class="font-size-2 text-secondary-gray-700">
                              Remember me
                            </span>
                          </label>
                        </div>
                      </div>

                      <a class="js-animation-link text-dark font-size-2 t-d-u link-muted font-weight-medium"
                        href="javascript:;" data-target="#forgotPassword" data-link-group="idForm"
                        data-animation-in="fadeIn">Forgot Password?</a>
                    </div>
                    <div class="mb-4d75">
                      <button type="submit" class="btn btn-block py-3 rounded-0 btn-dark">
                        Sign In
                      </button>
                    </div>
                    <div class="mb-2">
                      <a href="javascript:;"
                        class="js-animation-link btn btn-block py-3 rounded-0 btn-outline-dark font-weight-medium"
                        data-target="#signup" data-link-group="idForm" data-animation-in="fadeIn">Create Account</a>
                    </div>
                  </div>
                </div>

                <div id="signup" style="display: none; opacity: 0" data-target-group="idForm">
                  <header class="border-bottom px-4 px-md-6 py-4">
                    <h2 class="font-size-3 mb-0 d-flex align-items-center">
                      <i class="flaticon-resume mr-3 font-size-5"></i>Create
                      Account
                    </h2>
                  </header>

                  <div class="p-4 p-md-6">
                    <div class="form-group mb-4">
                      <div class="js-form-message js-focus-state">
                        <label id="signinEmailLabel1" class="form-label" for="signinEmail1">Email *</label>
                        <input type="email" class="form-control rounded-0 height-4 px-4" name="email" id="signinEmail1"
                          placeholder="creativelayers088@gmail.com" aria-label="creativelayers088@gmail.com"
                          aria-describedby="signinEmailLabel1" required />
                      </div>
                    </div>

                    <div class="form-group mb-4">
                      <div class="js-form-message js-focus-state">
                        <label id="signinPasswordLabel1" class="form-label" for="signinPassword1">Password *</label>
                        <input type="password" class="form-control rounded-0 height-4 px-4" name="password"
                          id="signinPassword1" placeholder="" aria-label="" aria-describedby="signinPasswordLabel1"
                          required />
                      </div>
                    </div>

                    <div class="form-group mb-4">
                      <div class="js-form-message js-focus-state">
                        <label id="signupConfirmPasswordLabel" class="form-label" for="signupConfirmPassword">Confirm
                          Password *</label>
                        <input type="password" class="form-control rounded-0 height-4 px-4" name="confirmPassword"
                          id="signupConfirmPassword" placeholder="" aria-label=""
                          aria-describedby="signupConfirmPasswordLabel" required />
                      </div>
                    </div>

                    <div class="mb-3">
                      <button type="submit" class="btn btn-block py-3 rounded-0 btn-dark">
                        Create Account
                      </button>
                    </div>
                    <div class="text-center mb-4">
                      <span class="small text-muted">Already have an account?</span>
                      <a class="js-animation-link small" href="javascript:;" data-target="#login"
                        data-link-group="idForm" data-animation-in="fadeIn">Login
                      </a>
                    </div>
                  </div>
                </div>

                <div id="forgotPassword" style="display: none; opacity: 0" data-target-group="idForm">
                  <header class="border-bottom px-4 px-md-6 py-4">
                    <h2 class="font-size-3 mb-0 d-flex align-items-center">
                      <i class="flaticon-question mr-3 font-size-5"></i>Forgot
                      Password?
                    </h2>
                  </header>

                  <div class="p-4 p-md-6">
                    <div class="form-group mb-4">
                      <div class="js-form-message js-focus-state">
                        <label id="signinEmailLabel3" class="form-label" for="signinEmail3">Email *</label>
                        <input type="email" class="form-control rounded-0 height-4 px-4" name="email" id="signinEmail3"
                          placeholder="creativelayers088@gmail.com" aria-label="creativelayers088@gmail.com"
                          aria-describedby="signinEmailLabel3" required />
                      </div>
                    </div>

                    <div class="mb-3">
                      <button type="submit" class="btn btn-block py-3 rounded-0 btn-dark">
                        Recover Password
                      </button>
                    </div>
                    <div class="text-center mb-4">
                      <span class="small text-muted">Remember your password?</span>
                      <a class="js-animation-link small" href="javascript:;" data-target="#login"
                        data-link-group="idForm" data-animation-in="fadeIn">Login
                      </a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>*@

  @*<aside id="sidebarContent1" class="u-sidebar u-sidebar__xl" aria-labelledby="sidebarNavToggler1">
    <div class="u-sidebar__scroller js-scrollbar">
      <div class="u-sidebar__container">
        <div class="u-header-sidebar__footer-offset">
          <div class="d-flex align-items-center position-absolute top-0 right-0 z-index-2 mt-5 mr-md-6 mr-4">
            <button type="button" class="close ml-auto" aria-controls="sidebarContent1" aria-haspopup="true"
              aria-expanded="false" data-unfold-event="click" data-unfold-hide-on-scroll="false"
              data-unfold-target="#sidebarContent1" data-unfold-type="css-animation"
              data-unfold-animation-in="fadeInRight" data-unfold-animation-out="fadeOutRight"
              data-unfold-duration="500">
              <span aria-hidden="true">Close <i class="fas fa-times ml-2"></i></span>
            </button>
          </div>

          <div class="u-sidebar__body">
            <div class="u-sidebar__content u-header-sidebar__content">
              <header class="border-bottom px-4 px-md-6 py-4">
                <h2 class="font-size-3 mb-0 d-flex align-items-center">
                  <i class="flaticon-icon-126515 mr-3 font-size-5"></i>Your
                  shopping bag (3)
                </h2>
              </header>

              <div class="px-4 py-5 px-md-6 border-bottom">
                <div class="media">
                  <a href="#" class="d-block"><img src="../../assets/img/120x180/img6.jpg" class="img-fluid"
                      alt="image-description" /></a>
                  <div class="media-body ml-4d875">
                    <div class="text-primary text-uppercase font-size-1 mb-1 text-truncate">
                      <a href="#">Hard Cover</a>
                    </div>
                    <h2 class="woocommerce-loop-product__title h6 text-lh-md mb-1 text-height-2 crop-text-2">
                      <a href="#" class="text-dark">The Ride of a Lifetime: Lessons Learned from 15 Years
                        as CEO</a>
                    </h2>
                    <div class="font-size-2 mb-1 text-truncate">
                      <a href="#" class="text-gray-700">Robert Iger</a>
                    </div>
                    <div class="price d-flex align-items-center font-weight-medium font-size-3">
                      <span class="woocommerce-Price-amount amount">1 x
                        <span class="woocommerce-Price-currencySymbol">$</span>125.30</span>
                    </div>
                  </div>
                  <div class="mt-3 ml-3">
                    <a href="#" class="text-dark"><i class="fas fa-times"></i></a>
                  </div>
                </div>
              </div>
              <div class="px-4 py-5 px-md-6 border-bottom">
                <div class="media">
                  <a href="#" class="d-block"><img src="../../assets/img/120x180/img6.jpg" class="img-fluid"
                      alt="image-description" /></a>
                  <div class="media-body ml-4d875">
                    <div class="text-primary text-uppercase font-size-1 mb-1 text-truncate">
                      <a href="#">Hard Cover</a>
                    </div>
                    <h2 class="woocommerce-loop-product__title h6 text-lh-md mb-1 text-height-2 crop-text-2">
                      <a href="#" class="text-dark">The Rural Diaries: Love, Livestock, and Big Life
                        Lessons Down</a>
                    </h2>
                    <div class="font-size-2 mb-1 text-truncate">
                      <a href="#" class="text-gray-700">Hillary Burton</a>
                    </div>
                    <div class="price d-flex align-items-center font-weight-medium font-size-3">
                      <span class="woocommerce-Price-amount amount">2 x
                        <span class="woocommerce-Price-currencySymbol">$</span>200</span>
                    </div>
                  </div>
                  <div class="mt-3 ml-3">
                    <a href="#" class="text-dark"><i class="fas fa-times"></i></a>
                  </div>
                </div>
              </div>
              <div class="px-4 py-5 px-md-6 border-bottom">
                <div class="media">
                  <a href="#" class="d-block"><img src="../../assets/img/120x180/img6.jpg" class="img-fluid"
                      alt="image-description" /></a>
                  <div class="media-body ml-4d875">
                    <div class="text-primary text-uppercase font-size-1 mb-1 text-truncate">
                      <a href="#">Publisher</a>
                    </div>
                    <h2 class="woocommerce-loop-product__title h6 text-lh-md mb-1 text-height-2 crop-text-2">
                      <a href="#" class="text-dark">Russians Among Us: Sleeper Cells, Ghost Stories, and
                        the Hunt.</a>
                    </h2>
                    <div class="font-size-2 mb-1 text-truncate">
                      <a href="#" class="text-gray-700">Gordon Corera</a>
                    </div>
                    <div class="price d-flex align-items-center font-weight-medium font-size-3">
                      <span class="woocommerce-Price-amount amount">6 x
                        <span class="woocommerce-Price-currencySymbol">$</span>100</span>
                    </div>
                  </div>
                  <div class="mt-3 ml-3">
                    <a href="#" class="text-dark"><i class="fas fa-times"></i></a>
                  </div>
                </div>
              </div>
              <div class="px-4 py-5 px-md-6 d-flex justify-content-between align-items-center font-size-3">
                <h4 class="mb-0 font-size-3">Subtotal:</h4>
                <div class="font-weight-medium">$750.00</div>
              </div>
              <div class="px-4 mb-8 px-md-6">
                <a href="../shop/cart.html" class="btn btn-block py-4 rounded-0 btn-outline-dark mb-4">View Cart</a>
                <a href="../shop/checkout.html" class="btn btn-block py-4 rounded-0 btn-dark">Checkout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>*@

  
    <!--ViewComponent-->
    <div class="row">
      <div class="col-md-3">
        <div id="secondary" class="sidebar widget-area order-1" role="complementary">
          <div id="widgetAccordion">
            <div id="woocommerce_product_categories-2"
              class="widget p-4d875 border woocommerce widget_product_categories">
              <div id="widgetHeadingOne" class="widget-head">
                <a class="d-flex align-items-center justify-content-between text-dark" href="#" data-toggle="collapse"
                  data-target="#widgetCollapseOne" aria-expanded="true" aria-controls="widgetCollapseOne">
                  <h3 class="widget-title mb-0 font-weight-medium font-size-3">
                    Categories
                  </h3>
                  <svg class="mins" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="15px" height="2px">
                    <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                      d="M0.000,-0.000 L15.000,-0.000 L15.000,2.000 L0.000,2.000 L0.000,-0.000 Z"></path>
                  </svg>
                  <svg class="plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="15px" height="15px">
                    <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                      d="M15.000,8.000 L9.000,8.000 L9.000,15.000 L7.000,15.000 L7.000,8.000 L0.000,8.000 L0.000,6.000 L7.000,6.000 L7.000,-0.000 L9.000,-0.000 L9.000,6.000 L15.000,6.000 L15.000,8.000 Z">
                    </path>
                  </svg>
                </a>
              </div>
              <div id="widgetCollapseOne" class="mt-3 widget-content collapse show" aria-labelledby="widgetHeadingOne"
                data-parent="#widgetAccordion">
                <ul class="product-categories">
                  <li class="cat-item cat-item-9 cat-parent">
                    <a href="../shop/v5.html">Clothing</a>
                    <ul class="children">
                      <li class="cat-item cat-item-121">
                        <a href="#/clothing/bags/">Bags</a>
                      </li>
                      <li class="cat-item cat-item-44">
                        <a href="#/clothing/blouses/">Blouses</a>
                      </li>
                      <li class="cat-item cat-item-41">
                        <a href="#/clothing/dresses/">Dresses</a>
                      </li>
                      <li class="cat-item cat-item-56">
                        <a href="#/clothing/footwear/">Footwear</a>
                      </li>
                      <li class="cat-item cat-item-54">
                        <a href="#/clothing/hats/">Hats</a>
                      </li>
                      <li class="cat-item cat-item-10">
                        <a href="#/clothing/hoodies/">Hoodies</a>
                      </li>
                      <li class="cat-item cat-item-55">
                        <a href="#/clothing/shirts/">Shirts</a>
                      </li>
                      <li class="cat-item cat-item-47">
                        <a href="#/clothing/skirts/">Skirts</a>
                      </li>
                      <li class="cat-item cat-item-14">
                        <a href="#/clothing/t-shirts/">T-shirts</a>
                      </li>
                      <li class="cat-item cat-item-49">
                        <a href="#/clothing/trousers/">Trousers</a>
                      </li>
                    </ul>
                  </li>
                  <li class="cat-item cat-item-69 cat-parent">
                    <a href="../shop/v5.html">Electronics</a>
                    <ul class="children">
                      <li class="cat-item cat-item-71 cat-parent">
                        <a href="#/electronics/cameras/">Cameras</a>
                        <ul class="children">
                          <li class="cat-item cat-item-114">
                            <a href="#/electronics/cameras/accessories/">Accessories</a>
                          </li>
                          <li class="cat-item cat-item-112">
                            <a href="#/electronics/cameras/lenses/">Lenses</a>
                          </li>
                        </ul>
                      </li>
                      <li class="cat-item cat-item-99">
                        <a href="#/electronics/dvd-players/">DVD Players</a>
                      </li>
                      <li class="cat-item cat-item-72">
                        <a href="#/electronics/headphones/">Headphones</a>
                      </li>
                      <li class="cat-item cat-item-91">
                        <a href="#/electronics/mp3-players/">MP3 Players</a>
                      </li>
                      <li class="cat-item cat-item-90">
                        <a href="#/electronics/radios/">Radios</a>
                      </li>
                      <li class="cat-item cat-item-70">
                        <a href="#/electronics/televisions/">Televisions</a>
                      </li>
                    </ul>
                  </li>
                  <li class="cat-item cat-item-65 cat-parent">
                    <a href="../shop/v5.html">Kitchen</a>
                    <ul class="children">
                      <li class="cat-item cat-item-102">
                        <a href="#/kitchen/blenders/">Blenders</a>
                      </li>
                      <li class="cat-item cat-item-103">
                        <a href="#/kitchen/colanders/">Colanders</a>
                      </li>
                      <li class="cat-item cat-item-68">
                        <a href="#/kitchen/kettles/">Kettles</a>
                      </li>
                      <li class="cat-item cat-item-101">
                        <a href="#/kitchen/knives/">Knives</a>
                      </li>
                      <li class="cat-item cat-item-66">
                        <a href="#/kitchen/pots-pans/">Pots &amp; Pans</a>
                      </li>
                      <li class="cat-item cat-item-67">
                        <a href="#/kitchen/toasters/">Toasters</a>
                      </li>
                    </ul>
                  </li>
                  <li class="cat-item cat-item-11 cat-parent">
                    <a href="../shop/v5.html">Music</a>
                    <ul class="children">
                      <li class="cat-item cat-item-15">
                        <a href="#/music/albums/">Albums</a>
                      </li>
                      <li class="cat-item cat-item-100">
                        <a href="#/music/mp3/">MP3</a>
                      </li>
                      <li class="cat-item cat-item-13">
                        <a href="#/music/singles/">Singles</a>
                      </li>
                    </ul>
                  </li>
                  <li class="cat-item cat-item-12">
                    <a href="../shop/v5.html">Posters</a>
                  </li>
                  <li class="cat-item cat-item-31">
                    <a href="../shop/v5.html">Scuba gear</a>
                  </li>
                  <li class="cat-item cat-item-45">
                    <a href="../shop/v5.html">Sweatshirts</a>
                  </li>
                </ul>
              </div>
            </div>
            <div id="Authors" class="widget widget_search widget_author p-4d875 border">
              <div id="widgetHeading21" class="widget-head">
                <a class="d-flex align-items-center justify-content-between text-dark" href="#" data-toggle="collapse"
                  data-target="#widgetCollapse21" aria-expanded="true" aria-controls="widgetCollapse21">
                  <h3 class="widget-title mb-0 font-weight-medium font-size-3">
                    Author
                  </h3>
                  <svg class="mins" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="15px" height="2px">
                    <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                      d="M0.000,-0.000 L15.000,-0.000 L15.000,2.000 L0.000,2.000 L0.000,-0.000 Z"></path>
                  </svg>
                  <svg class="plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="15px" height="15px">
                    <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                      d="M15.000,8.000 L9.000,8.000 L9.000,15.000 L7.000,15.000 L7.000,8.000 L0.000,8.000 L0.000,6.000 L7.000,6.000 L7.000,-0.000 L9.000,-0.000 L9.000,6.000 L15.000,6.000 L15.000,8.000 Z">
                    </path>
                  </svg>
                </a>
              </div>
              <div id="widgetCollapse21" class="mt-4 widget-content collapse show" aria-labelledby="widgetHeading21"
                data-parent="#widgetAccordion">
                <form class="form-inline my-2 overflow-hidden">
                  <div class="input-group flex-nowrap w-100">
                    <div class="input-group-prepend">
                      <i
                        class="glph-icon flaticon-loupe py-2d75 bg-white-100 border-white-100 text-dark pl-3 pr-0 rounded-0"></i>
                    </div>
                    <input class="form-control bg-white-100 py-2d75 height-4 border-white-100 rounded-0" type="search"
                      placeholder="Search" aria-label="Search" />
                  </div>
                  <button class="btn btn-outline-success my-2 my-sm-0 sr-only" type="submit">
                    Search
                  </button>
                </form>
                <ul class="product-categories">
                  <li class="cat-item cat-item-9 cat-parent">
                    <a href="../others/authors-single.html">A. J. Finn</a>
                  </li>
                  <li class="cat-item cat-item-69 cat-parent">
                    <a href="../others/authors-single.html">Anne Frank</a>
                  </li>
                  <li class="cat-item cat-item-65 cat-parent">
                    <a href="../others/authors-single.html">Camille Pagán</a>
                  </li>
                  <li class="cat-item cat-item-11 cat-parent">
                    <a href="../others/authors-single.html">Daniel H. Pink</a>
                  </li>
                  <li class="cat-item cat-item-12">
                    <a href="../others/authors-single.html">Danielle Steel</a>
                  </li>
                  <li class="cat-item cat-item-31">
                    <a href="../others/authors-single.html">David Quammen</a>
                  </li>
                </ul>
              </div>
            </div>
            <div id="woocommerce_price_filter-2" class="widget border p-4d875 woocommerce widget_price_filter">
              <div class="widget-head" id="widgetHeading-woocommerce_price_filter-2">
                <a class="d-flex align-items-center justify-content-between text-dark" href="#" data-toggle="collapse"
                  data-target="#widget-collapse-woocommerce_price_filter-2" aria-expanded="true"
                  aria-controls="widget-collapse-woocommerce_price_filter-2">
                  <h3 class="widget-title font-weight-medium font-size-3 mb-0">
                    Filter by price
                  </h3>
                  <svg class="mins" width="15px" height="2px">
                    <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                      d="M0.000,-0.000 L15.000,-0.000 L15.000,2.000 L0.000,2.000 L0.000,-0.000 Z"></path>
                  </svg><svg class="plus" width="15px" height="15px">
                    <path fill-rule="evenodd" fill="rgb(22, 22, 25)"
                      d="M15.000,8.000 L9.000,8.000 L9.000,15.000 L7.000,15.000 L7.000,8.000 L0.000,8.000 L0.000,6.000 L7.000,6.000 L7.000,-0.000 L9.000,-0.000 L9.000,6.000 L15.000,6.000 L15.000,8.000 Z">
                    </path>
                  </svg>
                </a>
              </div>
              <div id="widget-collapse-woocommerce_price_filter-2" class="mt-4 widget-content collapse show"
                aria-labelledby="widgetHeading-woocommerce_price_filter-2">
                <form method="get" action="https://demo4.madrasthemes.com/bookworm/shop/style-v3/">
                  <div class="price_slider_wrapper">
                    <div class="range-filter">
                      <div class="range-controls">
                        <div class="scale">
                          <div style="margin-left:50px;width:100px;" class="bar"></div>
                        </div>
                        <div class="toggle min-toggle"></div>
                        <div class="toggle max-toggle"></div>
                      </div>                      
                            <div data-role="rangeslider">                                                    
                              <input type="range"  name="price-min" id="inputPrice" min=0 max="1000" value="0">
                              <span id="labelPrice">0</span>
                            </div>                                          
                    </div> 
                    <div class="price_slider_amount" data-step="10">
                      <input type="text" id="min_price" name="min_price" value="0" data-min="0" placeholder="Min price"
                        style="display: none" />
                      <input type="text" id="max_price" name="max_price" value="100" data-max="100"
                        placeholder="Max price" style="display: none" />
                      <button type="submit" class="button margin-bottom">Filter</button>
                      <div class="clear"></div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Partical View-->
      <div class="col-md-9">        
        <div class="position-relative mb-6">
          
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-one-example1" role="tabpanel"
              aria-labelledby="pills-one-example1-tab">
              <div
            class="shop-control-bar d-lg-flex justify-content-between align-items-center mb-5 text-center text-md-left">
            <div class="shop-control-bar__left mb-4 m-lg-0">
              <p>Best seller</p>
            </div>
            <!--mobil görünümde gelmiyo-->
            <div class="shop-control-bar__right d-md-flex align-items-center">
              <form class="woocommerce-ordering mb-4 m-md-0" method="get">

                <select class="js-select selectpicker dropdown-select orderby" name="orderby"
                  data-style="border-bottom shadow-none outline-none py-2">
              
                  <option value="price" selected="selected">Sort by price: low to high</option>
                  <option value="price-desc">Sort by price: high to low</option>
                </select>

              </form>

              <ul class="nav nav-tab ml-lg-4 justify-content-center justify-content-md-start ml-md-auto" id="pills-tab"
                role="tablist">
                <li class="nav-item border">
                  <a class="nav-link p-0 height-38 width-38 justify-content-center d-flex align-items-center active"
                    id="pills-one-example1-tab" data-toggle="pill" href="#pills-one-example1" role="tab"
                    aria-controls="pills-one-example1" aria-selected="true">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17px"
                      height="17px">
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)"
                        d="M-0.000,0.000 L3.000,0.000 L3.000,3.000 L-0.000,3.000 L-0.000,0.000 Z" />
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)"
                        d="M7.000,0.000 L10.000,0.000 L10.000,3.000 L7.000,3.000 L7.000,0.000 Z" />
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)"
                        d="M14.000,0.000 L17.000,0.000 L17.000,3.000 L14.000,3.000 L14.000,0.000 Z" />
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)"
                        d="M-0.000,7.000 L3.000,7.000 L3.000,10.000 L-0.000,10.000 L-0.000,7.000 Z" />
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)"
                        d="M7.000,7.000 L10.000,7.000 L10.000,10.000 L7.000,10.000 L7.000,7.000 Z" />
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)"
                        d="M14.000,7.000 L17.000,7.000 L17.000,10.000 L14.000,10.000 L14.000,7.000 Z" />
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)"
                        d="M-0.000,14.000 L3.000,14.000 L3.000,17.000 L-0.000,17.000 L-0.000,14.000 Z" />
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)"
                        d="M7.000,14.000 L10.000,14.000 L10.000,17.000 L7.000,17.000 L7.000,14.000 Z" />
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)"
                        d="M14.000,14.000 L17.000,14.000 L17.000,17.000 L14.000,17.000 L14.000,14.000 Z" />
                    </svg>
                  </a>
                </li>
                <li class="nav-item border">
                  <a class="nav-link p-0 height-38 width-38 justify-content-center d-flex align-items-center"
                    id="pills-two-example1-tab" data-toggle="pill" href="#pills-two-example1" role="tab"
                    aria-controls="pills-two-example1" aria-selected="false">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px"
                      height="17px">
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)"
                        d="M-0.000,0.000 L3.000,0.000 L3.000,3.000 L-0.000,3.000 L-0.000,0.000 Z" />
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)"
                        d="M7.000,0.000 L23.000,0.000 L23.000,3.000 L7.000,3.000 L7.000,0.000 Z" />
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)"
                        d="M-0.000,7.000 L3.000,7.000 L3.000,10.000 L-0.000,10.000 L-0.000,7.000 Z" />
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)"
                        d="M7.000,7.000 L23.000,7.000 L23.000,10.000 L7.000,10.000 L7.000,7.000 Z" />
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)"
                        d="M-0.000,14.000 L3.000,14.000 L3.000,17.000 L-0.000,17.000 L-0.000,14.000 Z" />
                      <path fill-rule="evenodd" fill="rgb(25, 17, 11)"
                        d="M7.000,14.000 L23.000,14.000 L23.000,17.000 L7.000,17.000 L7.000,14.000 Z" />
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>

              <ul
                class="products list-unstyled row no-gutters row-cols-2 row-cols-lg-3 row-cols-wd-4 border-top border-left mb-6">
                <li class="product col">
                  <div class="product__inner overflow-hidden p-3 p-md-4d875">
                    <div class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
                      <div class="woocommerce-loop-product__thumbnail">
                        <a href="../shop/single-product-v2.html" class="d-block"><img
                            src="https://picsum.photos/id/237/150/226"
                            class="img-fluid d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid"
                            alt="image-description"></a>
                      </div>
                      <div class="woocommerce-loop-product__body product__body pt-3 bg-white">
                        <div class="text-uppercase font-size-1 mb-1 text-truncate"><a
                            href="../shop/single-product-v2.html">Publisher</a></div>
                        <h2
                          class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                          <a href="../shop/single-product-v2.html">The Last Sister (Columbia River Book 1)</a>
                        </h2>
                        <div class="font-size-2  mb-1 text-truncate"><a href="../others/authors-single.html"
                            class="text-gray-700">Jay Shetty</a></div>
                       
                      </div>
                      <div class="product__hover d-flex align-items-center">
                        <a href="../shop/single-product-v2.html"
                          class="text-uppercase text-dark h-dark font-weight-medium mr-auto" data-toggle="tooltip"
                          data-placement="right" title="" data-original-title="ADD TO CART">
                          <span class="product__add-to-cart">ADD TO CART</span>
                          <span class="product__add-to-cart-icon font-size-4"><i
                              class="flaticon-icon-126515"></i></span>
                        </a>
                        <a href="../shop/single-product-v2.html" class="mr-1 h-p-bg btn btn-outline-primary border-0">
                          <i class="fa-regular fa-heart"></i>
                        </a>
                        <a href="../shop/single-product-v2.html" class="h-p-bg btn btn-outline-primary border-0">
                          <i class="fa-regular fa-basket-shopping"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="product col">
                  <div class="product__inner overflow-hidden p-3 p-md-4d875">
                    <div class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
                      <div class="woocommerce-loop-product__thumbnail">
                        <a href="../shop/single-product-v2.html" class="d-block"><img
                            src="https://picsum.photos/id/238/150/226"
                            class="img-fluid d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid"
                            alt="image-description"></a>
                      </div>
                      <div class="woocommerce-loop-product__body product__body pt-3 bg-white">
                        <div class="text-uppercase font-size-1 mb-1 text-truncate"><a
                            href="../shop/single-product-v2.html">Publisher</a></div>
                        <h2
                          class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                          <a href="../shop/single-product-v2.html">Think Like a Monk: Train Your Mind for Peace and
                            Purpose Everyday</a>
                        </h2>
                        <div class="font-size-2  mb-1 text-truncate"><a href="../others/authors-single.html"
                            class="text-gray-700">Jay Shetty</a></div>
                        <div class="price d-flex align-items-center font-weight-medium font-size-3">
                          <span class="woocommerce-Price-amount amount"><span
                              class="woocommerce-Price-currencySymbol">$</span>29</span>
                        </div>
                      </div>
                      <div class="product__hover d-flex align-items-center">
                        <a href="../shop/single-product-v2.html"
                          class="text-uppercase text-dark h-dark font-weight-medium mr-auto" data-toggle="tooltip"
                          data-placement="right" title="" data-original-title="ADD TO CART">
                          <span class="product__add-to-cart">ADD TO CART</span>
                          <span class="product__add-to-cart-icon font-size-4"><i
                              class="flaticon-icon-126515"></i></span>
                        </a>
                        <a href="../shop/single-product-v2.html" class="mr-1 h-p-bg btn btn-outline-primary border-0">
                          <i class="flaticon-switch"></i>
                        </a>
                        <a href="../shop/single-product-v2.html" class="h-p-bg btn btn-outline-primary border-0">
                          <i class="flaticon-heart"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="product col">
                  <div class="product__inner overflow-hidden p-3 p-md-4d875">
                    <div class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
                      <div class="woocommerce-loop-product__thumbnail">
                        <a href="../shop/single-product-v2.html" class="d-block"><img
                            src="https://picsum.photos/id/239/150/226"
                            class="img-fluid d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid"
                            alt="image-description"></a>
                      </div>
                      <div class="woocommerce-loop-product__body product__body pt-3 bg-white">
                        <div class="text-uppercase font-size-1 mb-1 text-truncate"><a
                            href="../shop/single-product-v2.html">Publisher</a></div>
                        <h2
                          class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                          <a href="../shop/single-product-v2.html">The Last Day</a>
                        </h2>
                        <div class="font-size-2  mb-1 text-truncate"><a href="../others/authors-single.html"
                            class="text-gray-700">Jay Shetty</a></div>
                        <div class="price d-flex align-items-center font-weight-medium font-size-3">
                          <span class="woocommerce-Price-amount amount"><span
                              class="woocommerce-Price-currencySymbol">$</span>29</span>
                        </div>
                      </div>
                      <div class="product__hover d-flex align-items-center">
                        <a href="../shop/single-product-v2.html"
                          class="text-uppercase text-dark h-dark font-weight-medium mr-auto" data-toggle="tooltip"
                          data-placement="right" title="" data-original-title="ADD TO CART">
                          <span class="product__add-to-cart">ADD TO CART</span>
                          <span class="product__add-to-cart-icon font-size-4"><i
                              class="flaticon-icon-126515"></i></span>
                        </a>
                        <a href="../shop/single-product-v2.html" class="mr-1 h-p-bg btn btn-outline-primary border-0">
                          <i class="flaticon-switch"></i>
                        </a>
                        <a href="../shop/single-product-v2.html" class="h-p-bg btn btn-outline-primary border-0">
                          <i class="flaticon-heart"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="product col">
                  <div class="product__inner overflow-hidden p-3 p-md-4d875">
                    <div class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
                      <div class="woocommerce-loop-product__thumbnail">
                        <a href="../shop/single-product-v2.html" class="d-block"><img
                            src="https://picsum.photos/id/240/150/226"
                            class="img-fluid d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid"
                            alt="image-description"></a>
                      </div>
                      <div class="woocommerce-loop-product__body product__body pt-3 bg-white">
                        <div class="text-uppercase font-size-1 mb-1 text-truncate"><a
                            href="../shop/single-product-v2.html">Publisher</a></div>
                        <h2
                          class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                          <a href="../shop/single-product-v2.html">Winter Garden</a>
                        </h2>
                        <div class="font-size-2  mb-1 text-truncate"><a href="../others/authors-single.html"
                            class="text-gray-700">Jay Shetty</a></div>
                        <div class="price d-flex align-items-center font-weight-medium font-size-3">
                          <span class="woocommerce-Price-amount amount"><span
                              class="woocommerce-Price-currencySymbol">$</span>29</span>
                        </div>
                      </div>
                      <div class="product__hover d-flex align-items-center">
                        <a href="../shop/single-product-v2.html"
                          class="text-uppercase text-dark h-dark font-weight-medium mr-auto" data-toggle="tooltip"
                          data-placement="right" title="" data-original-title="ADD TO CART">
                          <span class="product__add-to-cart">ADD TO CART</span>
                          <span class="product__add-to-cart-icon font-size-4"><i
                              class="flaticon-icon-126515"></i></span>
                        </a>
                        <a href="../shop/single-product-v2.html" class="mr-1 h-p-bg btn btn-outline-primary border-0">
                          <i class="flaticon-switch"></i>
                        </a>
                        <a href="../shop/single-product-v2.html" class="h-p-bg btn btn-outline-primary border-0">
                          <i class="flaticon-heart"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </li>                
              </ul>

            </div>
            <div class="tab-pane fade" id="pills-two-example1" role="tabpanel" aria-labelledby="pills-two-example1-tab">

              <ul class="products list-unstyled mb-6">
                <li class="product product__list">
                  <div class="product__inner overflow-hidden p-3 p-md-4d875">
                    <div class="woocommerce-LoopProduct-link woocommerce-loop-product__link row position-relative">
                      <div class="col-md-auto woocommerce-loop-product__thumbnail mb-3 mb-md-0">
                        <a href="../shop/single-product-v2.html" class="d-block"><img
                            src="https://picsum.photos/id/1/150/226"
                            class="img-fluid d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid"
                            alt="image-description"></a>
                      </div>
                      <div class="col-md woocommerce-loop-product__body product__body pt-3 bg-white mb-3 mb-md-0">
                        <div class="text-uppercase font-size-1 mb-1 text-truncate"><a
                            href="../shop/single-product-v2.html">Publisher</a></div>
                        <h2
                          class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 crop-text-2 h-dark">
                          <a href="../shop/single-product-v2.html" tabindex="0">The Overdue Life of Amy Byler</a>
                        </h2>
                        <div class="font-size-2  mb-2 text-truncate"><a href="../others/authors-single.html"
                            class="text-gray-700">Jay Shetty</a></div>
                        <p class="font-size-2 mb-2 crop-text-2">After disappearing for three years, Artemis Fowl has
                          returned to a life different from the one he left. And spends his days teaching his twin
                          siblings the</p>
                        <div class="price d-flex align-items-center font-weight-medium font-size-3">
                          <span class="woocommerce-Price-amount amount"><span
                              class="woocommerce-Price-currencySymbol">$</span>29</span>
                        </div>
                      </div>
                      <div class="col-md-auto d-flex align-items-center">
                        <a href="../shop/single-product-v2.html"
                          class="text-uppercase text-dark h-dark font-weight-medium mr-4" data-toggle="tooltip"
                          data-placement="right" title="" data-original-title="ADD TO CART">
                          <span class="product__add-to-cart">ADD TO CART</span>
                          <span class="product__add-to-cart-icon font-size-4"><i
                              class="flaticon-icon-126515"></i></span>
                        </a>
                        <a href="../shop/single-product-v2.html" class="mr-1 h-p-bg btn btn-outline-primary border-0">
                          <i class="flaticon-switch"></i>
                        </a>
                        <a href="../shop/single-product-v2.html" class="h-p-bg btn btn-outline-primary border-0">
                          <i class="flaticon-heart"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="product product__list">
                  <div class="product__inner overflow-hidden p-3 p-md-4d875">
                    <div class="woocommerce-LoopProduct-link woocommerce-loop-product__link row position-relative">
                      <div class="col-md-auto woocommerce-loop-product__thumbnail mb-3 mb-md-0">
                        <a href="../shop/single-product-v2.html" class="d-block"><img
                            src="https://picsum.photos/id/2/150/226"
                            class="img-fluid d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid"
                            alt="image-description"></a>
                      </div>
                      <div class="col-md woocommerce-loop-product__body product__body pt-3 bg-white mb-3 mb-md-0">
                        <div class="text-uppercase font-size-1 mb-1 text-truncate"><a
                            href="../shop/single-product-v2.html">Publisher</a></div>
                        <h2
                          class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 crop-text-2 h-dark">
                          <a href="../shop/single-product-v2.html" tabindex="0">All You Can Ever Know: A Memoir</a>
                        </h2>
                        <div class="font-size-2  mb-2 text-truncate"><a href="../others/authors-single.html"
                            class="text-gray-700">Jay Shetty</a></div>
                        <p class="font-size-2 mb-2 crop-text-2">After disappearing for three years, Artemis Fowl has
                          returned to a life different from the one he left. And spends his days teaching his twin
                          siblings the</p>
                        <div class="price d-flex align-items-center font-weight-medium font-size-3">
                          <span class="woocommerce-Price-amount amount"><span
                              class="woocommerce-Price-currencySymbol">$</span>29</span>
                        </div>
                      </div>
                      <div class="col-md-auto d-flex align-items-center">
                        <a href="../shop/single-product-v2.html"
                          class="text-uppercase text-dark h-dark font-weight-medium mr-4" data-toggle="tooltip"
                          data-placement="right" title="" data-original-title="ADD TO CART">
                          <span class="product__add-to-cart">ADD TO CART</span>
                          <span class="product__add-to-cart-icon font-size-4"><i
                              class="flaticon-icon-126515"></i></span>
                        </a>
                        <a href="../shop/single-product-v2.html" class="mr-1 h-p-bg btn btn-outline-primary border-0">
                          <i class="flaticon-switch"></i>
                        </a>
                        <a href="../shop/single-product-v2.html" class="h-p-bg btn btn-outline-primary border-0">
                          <i class="flaticon-heart"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="product product__list">
                  <div class="product__inner overflow-hidden p-3 p-md-4d875">
                    <div class="woocommerce-LoopProduct-link woocommerce-loop-product__link row position-relative">
                      <div class="col-md-auto woocommerce-loop-product__thumbnail mb-3 mb-md-0">
                        <a href="../shop/single-product-v2.html" class="d-block"><img
                            src="https://picsum.photos/id/4/150/226"
                            class="img-fluid d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid"
                            alt="image-description"></a>
                      </div>
                      <div class="col-md woocommerce-loop-product__body product__body pt-3 bg-white mb-3 mb-md-0">
                        <div class="text-uppercase font-size-1 mb-1 text-truncate"><a
                            href="../shop/single-product-v2.html">Paperback</a></div>
                        <h2
                          class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 crop-text-2 h-dark">
                          <a href="../shop/single-product-v2.html" tabindex="0">The Cinderella Reversal</a>
                        </h2>
                        <div class="font-size-2  mb-2 text-truncate"><a href="../others/authors-single.html"
                            class="text-gray-700">Jay Shetty</a></div>
                        <p class="font-size-2 mb-2 crop-text-2">After disappearing for three years, Artemis Fowl has
                          returned to a life different from the one he left. And spends his days teaching his twin
                          siblings the</p>
                        <div class="price d-flex align-items-center font-weight-medium font-size-3">
                          <span class="woocommerce-Price-amount amount"><span
                              class="woocommerce-Price-currencySymbol">$</span>29</span>
                        </div>
                      </div>
                      <div class="col-md-auto d-flex align-items-center">
                        <a href="../shop/single-product-v2.html"
                          class="text-uppercase text-dark h-dark font-weight-medium mr-4" data-toggle="tooltip"
                          data-placement="right" title="" data-original-title="ADD TO CART">
                          <span class="product__add-to-cart">ADD TO CART</span>
                          <span class="product__add-to-cart-icon font-size-4"><i
                              class="flaticon-icon-126515"></i></span>
                        </a>
                        <a href="../shop/single-product-v2.html" class="mr-1 h-p-bg btn btn-outline-primary border-0">
                          <i class="flaticon-switch"></i>
                        </a>
                        <a href="../shop/single-product-v2.html" class="h-p-bg btn btn-outline-primary border-0">
                          <i class="flaticon-heart"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </li>                               
              </ul>

            </div>
          </div>
          <nav aria-label="Page navigation example">
            <ul
              class="pagination pagination__custom justify-content-md-center flex-nowrap flex-md-wrap overflow-auto overflow-md-visble">
              <li class="flex-shrink-0 flex-md-shrink-1 page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="flex-shrink-0 flex-md-shrink-1 page-item"><a class="page-link" href="#">1</a></li>
              <li class="flex-shrink-0 flex-md-shrink-1 page-item"><a class="page-link" href="#">2</a></li>
              <li class="flex-shrink-0 flex-md-shrink-1 page-item active" aria-current="page"><a class="page-link"
                  href="#">3</a></li>
              <li class="flex-shrink-0 flex-md-shrink-1 page-item"><a class="page-link" href="#">4</a></li>
              <li class="flex-shrink-0 flex-md-shrink-1 page-item"><a class="page-link" href="#">5</a></li>
              <li class="flex-shrink-0 flex-md-shrink-1 page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  

  <!--Layout-->
  </body>
