<h6 class="font-weight-medium font-size-7 pt-5 pt-lg-8 mb-5 mb-lg-7">
    My account
</h6>
<div class="tab-wrapper">
    <ul class="my__account-nav nav flex-column mb-0" role="tablist" id="pills-tab">
        <li class="nav-item mx-0">
            <a class="nav-link d-flex align-items-center px-0 active" asp-controller="Account" asp-action="Dashboard">
                <span class="font-weight-normal text-gray-600">Dashboard</span>
            </a>
        </li>
        <li class="nav-item mx-0">
            <a class="nav-link d-flex align-items-center px-0" asp-controller="Account" asp-action="Orders">
                <span class="font-weight-normal text-gray-600">Orders</span>
            </a>
        </li>
        <li class="nav-item mx-0">
            <a class="nav-link d-flex align-items-center px-0" asp-controller="Account" asp-action="Comments">
                <span class="font-weight-normal text-gray-600">Comments</span>
            </a>
        </li>
        <li class="nav-item mx-0">
            <a class="nav-link d-flex align-items-center px-0" asp-controller="Account" asp-action="Addresses">
                <span class="font-weight-normal text-gray-600">Addresses</span>
            </a>
        </li>
        <li class="nav-item mx-0">
            <a class="nav-link d-flex align-items-center px-0" asp-controller="Account" asp-action="Details">
                <span class="font-weight-normal text-gray-600">Account details</span>
            </a>
        </li>
        <li class="nav-item mx-0">
            <a class="nav-link d-flex align-items-center px-0" href="#">
                <span class="font-weight-normal text-gray-600">Logout</span>
            </a>
        </li>
    </ul>
</div>
