<!DOCTYPE html>
<html lang="en">

<head>
    <title>Book Cave</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />


    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="~/lib/animate/animate.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/lib/slick/slick.css" rel="stylesheet" />
    <link href="~/lib/jQuery/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <link href="~/css/theme.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />

</head>

<body>
    <header id="site-header" class="site-header__v3">
        <div class="masthead">
            <div class="bg-primary-home-v3 py-2">
                <div class="container my-1">
                    <div class="d-md-flex align-items-center position-relative py-1">
                        <div class="offcanvas-toggler mr-md-8 d-flex d-md-block align-items-center">
                            <a id="sidebarNavToggler2" href="javascript:;" role="button" class="cat-menu text-white"
                               aria-controls="sidebarContent2" aria-haspopup="true" aria-expanded="false"
                               data-unfold-event="click" data-unfold-hide-on-scroll="false"
                               data-unfold-target="#sidebarContent2" data-unfold-type="css-animation"
                               data-unfold-overlay='{
                                    "className": "u-sidebar-bg-overlay",
                                    "background": "rgba(0, 0, 0, .7)",
                                    "animationSpeed": 100
                                }' data-unfold-animation-in="fadeInLeft" data-unfold-animation-out="fadeOutLeft"
                               data-unfold-duration="100">
                                <span class="ml-3">
                                    <img style="height: 75px;margin-top: 4px;" src="~/img/logo/logo.png"
                                         alt="">
                                </span>
                            </a>
                            <ul class="nav d-md-none ml-auto">
                                <li class="nav-item">
                                    <a id="sidebarNavToggler9" href="javascript:;" role="button"
                                       class="px-2 nav-link text-white" aria-controls="sidebarContent9"
                                       aria-haspopup="true" aria-expanded="false" data-unfold-event="click"
                                       data-unfold-hide-on-scroll="false" data-unfold-target="#sidebarContent9"
                                       data-unfold-type="css-animation" data-unfold-overlay='{
                                            "className": "u-sidebar-bg-overlay",
                                            "background": "rgba(0, 0, 0, .7)",
                                            "animationSpeed": 500
                                        }' data-unfold-animation-in="fadeInRight"
                                       data-unfold-animation-out="fadeOutRight" data-unfold-duration="500">
                                        <i class="glph-icon flaticon-user"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="site-search ml-xl-0 ml-md-auto w-r-100 flex-grow-1 mr-md-5 mt-2 mt-md-0 py-2 py-md-0">
                            <form id="formSearch" class="form-inline my-2 my-xl-0" asp-controller="Shop" asp-action="Index" method="get">
                                <input type="hidden" name="keyword" id="searchKeywordHidden" />
                                <input type="hidden" name="searchType" id="searchHidden" />
                                <div class="input-group input-group-borderless w-100">
                                    <input id="txtKeyword" type="text" class="form-control rounded-left-1 px-3 border-right"
                                           placeholder="Keyword for filtering option" />
                                    <div class="input-group-append ml-0">
                                        <select class="d-none d-lg-block custom-select pr-7 pl-4 rounded-0 shadow-none border-0 text-dark"
                                                id="searchFilter">
                                            <option value="BY_BOOK_NAME">By book name</option>
                                            <option value="BY_PUBLISHER_NAME">By publisher name</option>
                                            <option value="BY_AUTHOR_NAME">By author name</option>
                                        </select>
                                        <button id="btnSearch" class="btn btn-primary-yellow px-3 py-2" type="button">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <ul class="nav d-none d-md-flex">
                            <li class="nav-item">
                                <a href="#" class="nav-link text-white">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <partial name="_LoginPartial" />
                            <partial name="_NavCartPartial" />

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>



    <!--Navigation Items Top-->
    <div class="page-header border-bottom mb-5">
        <div class="container">
            <div class="d-md-flex justify-content-between align-items-center py-4">
                <nav class="woocommerce-breadcrumb font-size-2">
                    <a class="h-primary" asp-controller="Home" asp-action="Index">Home</a><span class="breadcrumb-separator mx-2"><i class="fas fa-angle-right"></i></span><a class="h-primary"
                                                                                                                                                                              href="#">Mystery</a><span class="breadcrumb-separator mx-2"><i class="fas fa-angle-right"></i></span>The Lost Colony
                    (The Long Winter Trilogy Book 3)
                </nav>
            </div>
        </div>
    </div>
    <!--Navigation Items Top-->
    <!------------------------------------------------------RENDER BODY START--------------------------------------------------------------------->
    @RenderBody()
    <!------------------------------------------------------RENDER BODY END--------------------------------------------------------------------->


    <footer class="site-footer_v3 mt-4">
        <div class="bg-gray-200">
            <div class="space-top-3 bg-primary-home-v3">

                <div class="pb-5 space-bottom-lg-3">
                    <div class="container">
                        <div class="row text-white">
                            <div class="col-lg-4 mb-6 mb-lg-0">
                                <div class="pb-md-6">
                                    <a href="index.html" class="d-inline-block mb-5">
                                        <img style="height: 75px;margin-top: 4px;" src="~/img/logo/logo.png" alt="">
                                    </a>
                                    <address class="font-size-2 mb-5">

                                        <span class="mb-2 font-weight-normal text-light">
                                            Bilge Adam Academy Boost5 Students <br />
                                            Ankara/Turkey

                                        </span>
                                    </address>
                                    <div class="mb-4">
                                        <a href="mailto:sale@bookworm.com"
                                           class="font-size-2 d-block h-light mb-1">sale@bookcave.com</a>
                                        <a href="tel:+1246-345-0695" class="font-size-2 d-block h-light">+9000000000</a>
                                    </div>
                                    <ul class="list-unstyled mb-0 d-flex">
                                        <li class="btn pl-0">
                                            <a class="h-light" href="#">

                                                <span class="fab fa-instagram"></span>
                                            </a>
                                        </li>
                                        <li class="btn">

                                            <a class="h-light" href="#">

                                                <span class="fab fa-facebook-f"></span>
                                            </a>
                                        </li>
                                        <li class="btn">

                                            <a class="h-light" href="#">

                                                <span class="fab fa-youtube"></span>
                                            </a>
                                        </li>
                                        <li class="btn">

                                            <a class="h-light" href="#">

                                                <span class="fab fa-twitter"></span>
                                            </a>
                                        </li>
                                        <li class="btn">

                                            <a class="h-light" href="#">

                                                <span class="fab fa-pinterest"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 mb-6 mb-lg-0">
                                <h4 class="font-size-3 h-light font-weight-medium mb-2 mb-xl-5 pb-xl-1">
                                    Explore
                                </h4>
                                <ul class="list-unstyled mb-0">
                                    <li class="pb-2">

                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover" href="#">
                                            About
                                            as
                                        </a>
                                    </li>
                                    <li class="py-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover"
                                           href="#">Sitemap</a>
                                    </li>
                                    <li class="py-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover"
                                           href="#">Bookmarks</a>
                                    </li>
                                    <li class="pt-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover" href="#">
                                            Sign

                                            in/Join
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-2 mb-6 mb-lg-0">
                                <h4 class="font-size-3 h-light font-weight-medium mb-2 mb-xl-5 pb-xl-1">
                                    Customer Service
                                </h4>
                                <ul class="list-unstyled mb-0">
                                    <li class="pb-2">

                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover" href="#">
                                            Help
                                            Center
                                        </a>
                                    </li>
                                    <li class="py-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover"
                                           href="#">Returns</a>
                                    </li>
                                    <li class="py-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover"
                                           href="#">Product Recalls</a>
                                    </li>
                                    <li class="py-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover"
                                           href="#">Accessibility</a>
                                    </li>
                                    <li class="py-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover"
                                           href="#">Contact Us</a>
                                    </li>
                                    <li class="pt-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover" href="#">
                                            Store
                                            Pickup
                                        </a>

                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-2 mb-6 mb-lg-0">
                                <h4 class="font-size-3 h-light font-weight-medium mb-2 mb-xl-5 pb-xl-1">
                                    Policy
                                </h4>
                                <ul class="list-unstyled mb-0">
                                    <li class="pb-2">

                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover" href="#">
                                            Return
                                            Policy
                                        </a>
                                    </li>
                                    <li class="py-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover" href="#">
                                            Terms
                                            Of Use
                                        </a>
                                    </li>
                                    <li class="py-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover"
                                           href="#">Security</a>
                                    </li>
                                    <li class="pt-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover"
                                           href="#">Privacy</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-2 mb-6 mb-lg-0">
                                <h4 class="font-size-3 h-light font-weight-medium mb-2 mb-xl-5 pb-xl-1">
                                    Categories
                                </h4>
                                <ul class="list-unstyled mb-0">
                                    <li class="pb-2">

                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover"
                                           href="#">Action</a>
                                    </li>
                                    <li class="py-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover"
                                           href="#">Comedy</a>
                                    </li>
                                    <li class="py-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover"
                                           href="#">Drama</a>
                                    </li>
                                    <li class="py-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover"
                                           href="#">Horror</a>
                                    </li>
                                    <li class="py-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover"
                                           href="#">Kids</a>
                                    </li>
                                    <li class="pt-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover"
                                           href="#">Romantic Comedy</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-1">
                    <div class="container">
                        <div class="d-lg-flex text-center text-lg-left justify-content-between align-items-center">

                            <p class="mb-3 mb-lg-0 font-size-2 text-light">
                                ©2022 Book Cave. All rights reserved

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jQuery/js/jquery.min.js"></script>
    <script src="~/lib/jQuery/js/jquery-migrate.min.js"></script>
    <script src="~/lib/popper/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap-select.min.js"></script>
    <script src="~/lib/jQuery/js/jquery.zeynep.js"></script>
    <script src="~/lib/jQuery/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/lib/slick/js/slick.min.js"></script>
    <script src="~/lib/hs/js/hs.core.js"></script>
    <script src="~/lib/hs/js/hs.unfold.js"></script>
    <script src="~/lib/hs/js/hs.malihu-scrollbar.js"></script>
    <script src="~/lib/hs/js/hs.slick-carousel.js"></script>
    <script src="~/lib/hs/js/hs.show-animation.js"></script>
    <script src="~/lib/hs/js/hs.selectpiker.js"></script>

    <script>
        $(document).on("ready", function () {
            // initialization of unfold component
            $.HSCore.components.HSUnfold.init($("[data-unfold-target]"));

            // initialization of malihu scrollbar
            $.HSCore.components.HSMalihuScrollBar.init($(".js-scrollbar"));

            // initialization of slick carousel
            $.HSCore.components.HSSlickCarousel.init(".js-slick-carousel");

            // initialization of show animations
            $.HSCore.components.HSShowAnimation.init(".js-animation-link");

            // init zeynepjs
            var zeynep = $(".zeynep").zeynep({
                onClosed: function () {
                    // enable main wrapper element clicks on any its children element
                    $("body main").attr("style", "");

                    console.log("the side menu is closed.");
                },
                onOpened: function () {
                    // disable main wrapper element clicks on any its children element
                    $("body main").attr("style", "pointer-events: none;");

                    console.log("the side menu is opened.");
                },
            });

            // handle zeynep overlay click
            $(".zeynep-overlay").click(function () {
                zeynep.close();
            });

            // open side menu if the button is clicked
            $(".cat-menu").click(function () {
                if ($("html").hasClass("zeynep-opened")) {
                    zeynep.close();
                } else {
                    zeynep.open();
                }
            });
        });
        $("#btnSearch").click(function (event) {
            let keyword = $("#txtKeyword").val().trim();
            $("#searchKeywordHidden").val(keyword);
            let type = $("#searchFilter").val();
            $("#searchHidden").val(type);
            if (keyword != "") {
                $("#formSearch").submit();
            }
        })
    </script>

    @await RenderSectionAsync("Validators", false);
    @await RenderSectionAsync("Scripts", false);

</body>

</html>
