<!DOCTYPE html>
<html lang="en">

<head>
    <title>Book Cave</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />


    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="~/lib/animate/animate.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/lib/slick/slick.css" rel="stylesheet" />
    <link href="~/lib/jQuery/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <link href="~/css/theme.css" rel="stylesheet" />
</head>

<body>
    <header id="site-header" class="site-header__v3">
        <div class="masthead">
            <div class="bg-primary-home-v3 py-2">
                <div class="container my-1">
                    <div class="d-md-flex align-items-center position-relative py-1">
                        <div class="offcanvas-toggler mr-md-8 d-flex d-md-block align-items-center">
                            <a id="sidebarNavToggler2" href="javascript:;" role="button" class="cat-menu text-white"
                                aria-controls="sidebarContent2" aria-haspopup="true" aria-expanded="false"
                                data-unfold-event="click" data-unfold-hide-on-scroll="false"
                                data-unfold-target="#sidebarContent2" data-unfold-type="css-animation"
                                data-unfold-overlay='{
                                    "className": "u-sidebar-bg-overlay",
                                    "background": "rgba(0, 0, 0, .7)",
                                    "animationSpeed": 100
                                }' data-unfold-animation-in="fadeInLeft" data-unfold-animation-out="fadeOutLeft"
                                data-unfold-duration="100">
                                <span class="ml-3"><img style="height: 75px;margin-top: 4px;" src="~/img/logo/logo.png"
                                        alt=""></span>
                            </a>
                            <ul class="nav d-md-none ml-auto">
                                <li class="nav-item">
                                    <a id="sidebarNavToggler9" href="javascript:;" role="button"
                                        class="px-2 nav-link text-white" aria-controls="sidebarContent9"
                                        aria-haspopup="true" aria-expanded="false" data-unfold-event="click"
                                        data-unfold-hide-on-scroll="false" data-unfold-target="#sidebarContent9"
                                        data-unfold-type="css-animation" data-unfold-overlay='{
                                            "className": "u-sidebar-bg-overlay",
                                            "background": "rgba(0, 0, 0, .7)",
                                            "animationSpeed": 500
                                        }' data-unfold-animation-in="fadeInRight"
                                        data-unfold-animation-out="fadeOutRight" data-unfold-duration="500">
                                        <i class="glph-icon flaticon-user"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div
                            class="site-search ml-xl-0 ml-md-auto w-r-100 flex-grow-1 mr-md-5 mt-2 mt-md-0 py-2 py-md-0">
                            <form class="form-inline my-2 my-xl-0">
                                <div class="input-group input-group-borderless w-100">
                                    <input type="text" class="form-control rounded-left-1 px-3 border-right"
                                        placeholder="Search for books by keyword"
                                        aria-label="Amount (to the nearest dollar)" />
                                    <div class="input-group-append ml-0">
                                        <select
                                            class="d-none d-lg-block custom-select pr-7 pl-4 rounded-0 shadow-none border-0 text-dark"
                                            id="inputGroupSelect01">
                                            <option selected>All Categories</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                        <button class="btn btn-primary-yellow px-3 py-2" type="submit">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <ul class="nav d-none d-md-flex">
                            <li class="nav-item">
                                <a href="#" class="nav-link text-white">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="sidebarNavToggler" href="javascript:;" role="button" class="nav-link text-white"
                                    aria-controls="sidebarContent" aria-haspopup="true" aria-expanded="false"
                                    data-unfold-event="click" data-unfold-hide-on-scroll="false"
                                    data-unfold-target="#sidebarContent" data-unfold-type="css-animation"
                                    data-unfold-overlay='{
                                        "className": "u-sidebar-bg-overlay",
                                        "background": "rgba(0, 0, 0, .7)",
                                        "animationSpeed": 500
                                    }' data-unfold-animation-in="fadeInRight" data-unfold-animation-out="fadeOutRight"
                                    data-unfold-duration="500">
                                    <i class="fa-regular fa-user"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="sidebarNavToggler1" href="javascript:;" role="button"
                                    class="nav-link pr-0 text-white position-relative" aria-controls="sidebarContent1"
                                    aria-haspopup="true" aria-expanded="false" data-unfold-event="click"
                                    data-unfold-hide-on-scroll="false" data-unfold-target="#sidebarContent1"
                                    data-unfold-type="css-animation" data-unfold-overlay='{
                                        "className": "u-sidebar-bg-overlay",
                                        "background": "rgba(0, 0, 0, .7)",
                                        "animationSpeed": 500
                                    }' data-unfold-animation-in="fadeInRight" data-unfold-animation-out="fadeOutRight"
                                    data-unfold-duration="500">
                                    <span
                                        class="position-absolute bg-primary-yellow width-16 height-16 rounded-circle d-flex align-items-center justify-content-center text-dark font-size-n9 left-0">10</span>
                                    <i class="fa-solid fa-basket-shopping"></i>
                                    <span class="d-none d-xl-inline h6 mb-0 ml-1">₺33.33</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <aside id="sidebarContent9" class="u-sidebar u-sidebar__lg" aria-labelledby="sidebarNavToggler9">
        <div class="u-sidebar__scroller">
            <div class="u-sidebar__container">
                <div class="u-header-sidebar__footer-offset">
                    <div class="d-flex align-items-center position-absolute top-0 right-0 z-index-2 mt-5 mr-md-6 mr-4">
                        <button type="button" class="close ml-auto" aria-controls="sidebarContent9" aria-haspopup="true"
                            aria-expanded="false" data-unfold-event="click" data-unfold-hide-on-scroll="false"
                            data-unfold-target="#sidebarContent9" data-unfold-type="css-animation"
                            data-unfold-animation-in="fadeInRight" data-unfold-animation-out="fadeOutRight"
                            data-unfold-duration="500">
                            <span aria-hidden="true">
                                Close <i class="fas fa-times ml-2"></i>
                            </span>
                        </button>
                    </div>

                    <div class="js-scrollbar u-sidebar__body">
                        <div class="u-sidebar__content u-header-sidebar__content">
                            <form class="">
                                <div id="login1" data-target-group="idForm1">
                                    <header class="border-bottom px-4 px-md-6 py-4">
                                        <h2 class="font-size-3 mb-0 d-flex align-items-center">
                                            <i class="flaticon-user mr-3 font-size-5"></i>Account
                                        </h2>
                                    </header>

                                    <div class="p-4 p-md-6">
                                        <div class="form-group mb-4">
                                            <div class="js-form-message js-focus-state">
                                                <label id="signinEmailLabel9" class="form-label"
                                                    for="signinEmail9">Username or email *</label>
                                                <input type="email" class="form-control rounded-0 height-4 px-4"
                                                    name="email" id="signinEmail9"
                                                    placeholder="creativelayers088@gmail.com"
                                                    aria-label="creativelayers088@gmail.com"
                                                    aria-describedby="signinEmailLabel9" required />
                                            </div>
                                        </div>

                                        <div class="form-group mb-4">
                                            <div class="js-form-message js-focus-state">
                                                <label id="signinPasswordLabel9" class="form-label"
                                                    for="signinPassword9">Password *</label>
                                                <input type="password" class="form-control rounded-0 height-4 px-4"
                                                    name="password" id="signinPassword9" placeholder="" aria-label=""
                                                    aria-describedby="signinPasswordLabel9" required />
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-between mb-5 align-items-center">
                                            <div class="js-form-message">
                                                <div
                                                    class="custom-control custom-checkbox d-flex align-items-center text-muted">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="termsCheckbox1" name="termsCheckbox1" required />
                                                    <label class="custom-control-label" for="termsCheckbox1">
                                                        <span class="font-size-2 text-secondary-gray-700">
                                                            Remember me
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>

                                            <a class="js-animation-link text-dark font-size-2 t-d-u link-muted font-weight-medium"
                                                href="javascript:;" data-target="#forgotPassword1"
                                                data-link-group="idForm1" data-animation-in="fadeIn">Forgot
                                                Password?</a>
                                        </div>
                                        <div class="mb-4d75">
                                            <button type="submit" class="btn btn-block py-3 rounded-0 btn-dark">
                                                Sign In
                                            </button>
                                        </div>
                                        <div class="mb-2">
                                            <a href="javascript:;"
                                                class="js-animation-link btn btn-block py-3 rounded-0 btn-outline-dark font-weight-medium"
                                                data-target="#signup1" data-link-group="idForm1"
                                                data-animation-in="fadeIn">Create Account</a>
                                        </div>
                                    </div>
                                </div>

                                <div id="signup1" style="display: none; opacity: 0" data-target-group="idForm1">
                                    <header class="border-bottom px-4 px-md-6 py-4">
                                        <h2 class="font-size-3 mb-0 d-flex align-items-center">
                                            <i class="flaticon-resume mr-3 font-size-5"></i>Create
                                            Account
                                        </h2>
                                    </header>

                                    <div class="p-4 p-md-6">
                                        <div class="form-group mb-4">
                                            <div class="js-form-message js-focus-state">
                                                <label id="signinEmailLabel11" class="form-label"
                                                    for="signinEmail11">Email *</label>
                                                <input type="email" class="form-control rounded-0 height-4 px-4"
                                                    name="email" id="signinEmail11"
                                                    placeholder="creativelayers088@gmail.com"
                                                    aria-label="creativelayers088@gmail.com"
                                                    aria-describedby="signinEmailLabel11" required />
                                            </div>
                                        </div>

                                        <div class="form-group mb-4">
                                            <div class="js-form-message js-focus-state">
                                                <label id="signinPasswordLabel11" class="form-label"
                                                    for="signinPassword11">Password *</label>
                                                <input type="password" class="form-control rounded-0 height-4 px-4"
                                                    name="password" id="signinPassword11" placeholder="" aria-label=""
                                                    aria-describedby="signinPasswordLabel11" required />
                                            </div>
                                        </div>

                                        <div class="form-group mb-4">
                                            <div class="js-form-message js-focus-state">
                                                <label id="signupConfirmPasswordLabel9" class="form-label"
                                                    for="signupConfirmPassword9">Confirm Password *</label>
                                                <input type="password" class="form-control rounded-0 height-4 px-4"
                                                    name="confirmPassword" id="signupConfirmPassword9" placeholder=""
                                                    aria-label="" aria-describedby="signupConfirmPasswordLabel9"
                                                    required />
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <button type="submit" class="btn btn-block py-3 rounded-0 btn-dark">
                                                Create Account
                                            </button>
                                        </div>
                                        <div class="text-center mb-4">
                                            <span class="small text-muted">Already have an account?</span>
                                            <a class="js-animation-link small" href="javascript:;" data-target="#login1"
                                                data-link-group="idForm1" data-animation-in="fadeIn">
                                                Login
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div id="forgotPassword1" style="display: none; opacity: 0" data-target-group="idForm1">
                                    <header class="border-bottom px-4 px-md-6 py-4">
                                        <h2 class="font-size-3 mb-0 d-flex align-items-center">
                                            <i class="flaticon-question mr-3 font-size-5"></i>Forgot
                                            Password?
                                        </h2>
                                    </header>

                                    <div class="p-4 p-md-6">
                                        <div class="form-group mb-4">
                                            <div class="js-form-message js-focus-state">
                                                <label id="signinEmailLabel33" class="form-label"
                                                    for="signinEmail33">Email *</label>
                                                <input type="email" class="form-control rounded-0 height-4 px-4"
                                                    name="email" id="signinEmail33"
                                                    placeholder="creativelayers088@gmail.com"
                                                    aria-label="creativelayers088@gmail.com"
                                                    aria-describedby="signinEmailLabel33" required />
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <button type="submit" class="btn btn-block py-3 rounded-0 btn-dark">
                                                Recover Password
                                            </button>
                                        </div>
                                        <div class="text-center mb-4">
                                            <span class="small text-muted">Remember your password?</span>
                                            <a class="js-animation-link small" href="javascript:;" data-target="#login1"
                                                data-link-group="idForm1" data-animation-in="fadeIn">
                                                Login
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <aside id="sidebarContent" class="u-sidebar u-sidebar__lg" aria-labelledby="sidebarNavToggler">
        <div class="u-sidebar__scroller">
            <div class="u-sidebar__container">
                <div class="u-header-sidebar__footer-offset">
                    <div class="d-flex align-items-center position-absolute top-0 right-0 z-index-2 mt-5 mr-md-6 mr-4">
                        <button type="button" class="close ml-auto" aria-controls="sidebarContent" aria-haspopup="true"
                            aria-expanded="false" data-unfold-event="click" data-unfold-hide-on-scroll="false"
                            data-unfold-target="#sidebarContent" data-unfold-type="css-animation"
                            data-unfold-animation-in="fadeInRight" data-unfold-animation-out="fadeOutRight"
                            data-unfold-duration="500">
                            <span aria-hidden="true">
                                Close <i class="fas fa-times ml-2"></i>
                            </span>
                        </button>
                    </div>

                    <div class="js-scrollbar u-sidebar__body">
                        <div class="u-sidebar__content u-header-sidebar__content">
                            <form class="">
                                <div id="login" data-target-group="idForm">
                                    <header class="border-bottom px-4 px-md-6 py-4">
                                        <h2 class="font-size-3 mb-0 d-flex align-items-center">
                                            <i class="flaticon-user mr-3 font-size-5"></i>Account
                                        </h2>
                                    </header>

                                    <div class="p-4 p-md-6">
                                        <div class="form-group mb-4">
                                            <div class="js-form-message js-focus-state">
                                                <label id="signinEmailLabel" class="form-label"
                                                    for="signinEmail">Username or email *</label>
                                                <input type="email" class="form-control rounded-0 height-4 px-4"
                                                    name="email" id="signinEmail"
                                                    placeholder="creativelayers088@gmail.com"
                                                    aria-label="creativelayers088@gmail.com"
                                                    aria-describedby="signinEmailLabel" required />
                                            </div>
                                        </div>

                                        <div class="form-group mb-4">
                                            <div class="js-form-message js-focus-state">
                                                <label id="signinPasswordLabel" class="form-label"
                                                    for="signinPassword">Password *</label>
                                                <input type="password" class="form-control rounded-0 height-4 px-4"
                                                    name="password" id="signinPassword" placeholder="" aria-label=""
                                                    aria-describedby="signinPasswordLabel" required />
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-between mb-5 align-items-center">
                                            <div class="js-form-message">
                                                <div
                                                    class="custom-control custom-checkbox d-flex align-items-center text-muted">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="termsCheckbox" name="termsCheckbox" required />
                                                    <label class="custom-control-label" for="termsCheckbox">
                                                        <span class="font-size-2 text-secondary-gray-700">
                                                            Remember me
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>

                                            <a class="js-animation-link text-dark font-size-2 t-d-u link-muted font-weight-medium"
                                                href="javascript:;" data-target="#forgotPassword"
                                                data-link-group="idForm" data-animation-in="fadeIn">Forgot Password?</a>
                                        </div>
                                        <div class="mb-4d75">
                                            <button type="submit" class="btn btn-block py-3 rounded-0 btn-dark">
                                                Sign In
                                            </button>
                                        </div>
                                        <div class="mb-2">
                                            <a href="javascript:;"
                                                class="js-animation-link btn btn-block py-3 rounded-0 btn-outline-dark font-weight-medium"
                                                data-target="#signup" data-link-group="idForm"
                                                data-animation-in="fadeIn">Create Account</a>
                                        </div>
                                    </div>
                                </div>

                                <div id="signup" style="display: none; opacity: 0" data-target-group="idForm">
                                    <header class="border-bottom px-4 px-md-6 py-4">
                                        <h2 class="font-size-3 mb-0 d-flex align-items-center">
                                            <i class="flaticon-resume mr-3 font-size-5"></i>Create
                                            Account
                                        </h2>
                                    </header>

                                    <div class="p-4 p-md-6">
                                        <div class="form-group mb-4">
                                            <div class="js-form-message js-focus-state">
                                                <label id="signinEmailLabel1" class="form-label"
                                                    for="signinEmail1">Email *</label>
                                                <input type="email" class="form-control rounded-0 height-4 px-4"
                                                    name="email" id="signinEmail1"
                                                    placeholder="creativelayers088@gmail.com"
                                                    aria-label="creativelayers088@gmail.com"
                                                    aria-describedby="signinEmailLabel1" required />
                                            </div>
                                        </div>

                                        <div class="form-group mb-4">
                                            <div class="js-form-message js-focus-state">
                                                <label id="signinPasswordLabel1" class="form-label"
                                                    for="signinPassword1">Password *</label>
                                                <input type="password" class="form-control rounded-0 height-4 px-4"
                                                    name="password" id="signinPassword1" placeholder="" aria-label=""
                                                    aria-describedby="signinPasswordLabel1" required />
                                            </div>
                                        </div>

                                        <div class="form-group mb-4">
                                            <div class="js-form-message js-focus-state">
                                                <label id="signupConfirmPasswordLabel" class="form-label"
                                                    for="signupConfirmPassword">Confirm Password *</label>
                                                <input type="password" class="form-control rounded-0 height-4 px-4"
                                                    name="confirmPassword" id="signupConfirmPassword" placeholder=""
                                                    aria-label="" aria-describedby="signupConfirmPasswordLabel"
                                                    required />
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <button type="submit" class="btn btn-block py-3 rounded-0 btn-dark">
                                                Create Account
                                            </button>
                                        </div>
                                        <div class="text-center mb-4">
                                            <span class="small text-muted">Already have an account?</span>
                                            <a class="js-animation-link small" href="javascript:;" data-target="#login"
                                                data-link-group="idForm" data-animation-in="fadeIn">
                                                Login
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div id="forgotPassword" style="display: none; opacity: 0" data-target-group="idForm">
                                    <header class="border-bottom px-4 px-md-6 py-4">
                                        <h2 class="font-size-3 mb-0 d-flex align-items-center">
                                            <i class="flaticon-question mr-3 font-size-5"></i>Forgot
                                            Password?
                                        </h2>
                                    </header>

                                    <div class="p-4 p-md-6">
                                        <div class="form-group mb-4">
                                            <div class="js-form-message js-focus-state">
                                                <label id="signinEmailLabel3" class="form-label"
                                                    for="signinEmail3">Email *</label>
                                                <input type="email" class="form-control rounded-0 height-4 px-4"
                                                    name="email" id="signinEmail3"
                                                    placeholder="creativelayers088@gmail.com"
                                                    aria-label="creativelayers088@gmail.com"
                                                    aria-describedby="signinEmailLabel3" required />
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <button type="submit" class="btn btn-block py-3 rounded-0 btn-dark">
                                                Recover Password
                                            </button>
                                        </div>
                                        <div class="text-center mb-4">
                                            <span class="small text-muted">Remember your password?</span>
                                            <a class="js-animation-link small" href="javascript:;" data-target="#login"
                                                data-link-group="idForm" data-animation-in="fadeIn">
                                                Login
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <aside id="sidebarContent1" class="u-sidebar u-sidebar__xl" aria-labelledby="sidebarNavToggler1">
        <div class="u-sidebar__scroller js-scrollbar">
            <div class="u-sidebar__container">
                <div class="u-header-sidebar__footer-offset">
                    <div class="d-flex align-items-center position-absolute top-0 right-0 z-index-2 mt-5 mr-md-6 mr-4">
                        <button type="button" class="close ml-auto" aria-controls="sidebarContent1" aria-haspopup="true"
                            aria-expanded="false" data-unfold-event="click" data-unfold-hide-on-scroll="false"
                            data-unfold-target="#sidebarContent1" data-unfold-type="css-animation"
                            data-unfold-animation-in="fadeInRight" data-unfold-animation-out="fadeOutRight"
                            data-unfold-duration="500">
                            <span aria-hidden="true">
                                Close <i class="fas fa-times ml-2"></i>
                            </span>
                        </button>
                    </div>

                    <div class="u-sidebar__body">
                        <div class="u-sidebar__content u-header-sidebar__content">
                            <header class="border-bottom px-4 px-md-6 py-4">
                                <h2 class="font-size-3 mb-0 d-flex align-items-center">
                                    <i class="flaticon-icon-126515 mr-3 font-size-5"></i>Your
                                    shopping bag (3)
                                </h2>
                            </header>

                            <div class="px-4 py-5 px-md-6 border-bottom">
                                <div class="media">
                                    <a href="#" class="d-block">
                                        <img src="../../assets/img/120x180/img6.jpg" class="img-fluid"
                                            alt="image-description" />
                                    </a>
                                    <div class="media-body ml-4d875">
                                        <div class="text-primary text-uppercase font-size-1 mb-1 text-truncate">
                                            <a href="#">Hard Cover</a>
                                        </div>
                                        <h2
                                            class="woocommerce-loop-product__title h6 text-lh-md mb-1 text-height-2 crop-text-2">
                                            <a href="#" class="text-dark">
                                                The Ride of a Lifetime: Lessons Learned from 15 Years
                                                as CEO
                                            </a>
                                        </h2>
                                        <div class="font-size-2 mb-1 text-truncate">
                                            <a href="#" class="text-gray-700">Robert Iger</a>
                                        </div>
                                        <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                            <span class="woocommerce-Price-amount amount">
                                                1 x
                                                <span class="woocommerce-Price-currencySymbol">$</span>125.30
                                            </span>
                                        </div>
                                    </div>
                                    <div class="mt-3 ml-3">
                                        <a href="#" class="text-dark">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="px-4 py-5 px-md-6 border-bottom">
                                <div class="media">
                                    <a href="#" class="d-block">
                                        <img src="../../assets/img/120x180/img6.jpg" class="img-fluid"
                                            alt="image-description" />
                                    </a>
                                    <div class="media-body ml-4d875">
                                        <div class="text-primary text-uppercase font-size-1 mb-1 text-truncate">
                                            <a href="#">Hard Cover</a>
                                        </div>
                                        <h2
                                            class="woocommerce-loop-product__title h6 text-lh-md mb-1 text-height-2 crop-text-2">
                                            <a href="#" class="text-dark">
                                                The Rural Diaries: Love, Livestock, and Big Life
                                                Lessons Down
                                            </a>
                                        </h2>
                                        <div class="font-size-2 mb-1 text-truncate">
                                            <a href="#" class="text-gray-700">Hillary Burton</a>
                                        </div>
                                        <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                            <span class="woocommerce-Price-amount amount">
                                                2 x
                                                <span class="woocommerce-Price-currencySymbol">$</span>200
                                            </span>
                                        </div>
                                    </div>
                                    <div class="mt-3 ml-3">
                                        <a href="#" class="text-dark">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="px-4 py-5 px-md-6 border-bottom">
                                <div class="media">
                                    <a href="#" class="d-block">
                                        <img src="../../assets/img/120x180/img6.jpg" class="img-fluid"
                                            alt="image-description" />
                                    </a>
                                    <div class="media-body ml-4d875">
                                        <div class="text-primary text-uppercase font-size-1 mb-1 text-truncate">
                                            <a href="#">Paperback</a>
                                        </div>
                                        <h2
                                            class="woocommerce-loop-product__title h6 text-lh-md mb-1 text-height-2 crop-text-2">
                                            <a href="#" class="text-dark">
                                                Russians Among Us: Sleeper Cells, Ghost Stories, and
                                                the Hunt.
                                            </a>
                                        </h2>
                                        <div class="font-size-2 mb-1 text-truncate">
                                            <a href="#" class="text-gray-700">Gordon Corera</a>
                                        </div>
                                        <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                            <span class="woocommerce-Price-amount amount">
                                                6 x
                                                <span class="woocommerce-Price-currencySymbol">$</span>100
                                            </span>
                                        </div>
                                    </div>
                                    <div class="mt-3 ml-3">
                                        <a href="#" class="text-dark">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="px-4 py-5 px-md-6 d-flex justify-content-between align-items-center font-size-3">
                                <h4 class="mb-0 font-size-3">Subtotal:</h4>
                                <div class="font-weight-medium">$750.00</div>
                            </div>
                            <div class="px-4 mb-8 px-md-6">
                                <a asp-controller="Cart" asp-action="Index"
                                    class="btn btn-block py-4 rounded-0 btn-outline-dark mb-4">View Cart</a>
                                <a asp-controller="Checkout" asp-action="Index"
                                    class="btn btn-block py-4 rounded-0 btn-dark">Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>


    <div class="page-header border-bottom mb-5">
        <div class="container">
            <div class="d-md-flex justify-content-between align-items-center py-4">
                <nav class="woocommerce-breadcrumb font-size-2">
                    <a class="h-primary" href="https://demo4.madrasthemes.com/bookworm">Home</a><span
                        class="breadcrumb-separator mx-2"><i class="fas fa-angle-right"></i></span><a class="h-primary"
                        href="https://demo4.madrasthemes.com/bookworm/product-category/mystery/">Mystery</a><span
                        class="breadcrumb-separator mx-2"><i class="fas fa-angle-right"></i></span>The Lost Colony
                    (The Long Winter Trilogy Book 3)
                </nav>
            </div>
        </div>
    </div>

    <!------------------------------------------------------RENDER BODY START--------------------------------------------------------------------->
    @RenderBody()
    <!------------------------------------------------------RENDER BODY END--------------------------------------------------------------------->


  <footer class="site-footer_v3 mt-4">
        <div class="bg-gray-200">
            <div class="space-top-3 bg-primary-home-v3">

                <div class="pb-5 space-bottom-lg-3">
                    <div class="container">
                        <div class="row text-white">
                            <div class="col-lg-4 mb-6 mb-lg-0">
                                <div class="pb-md-6">
                                    <a href="index.html" class="d-inline-block mb-5">
                                        <img style="height: 75px;margin-top: 4px;" src="~/img/logo/logo.png" alt="">
                                    </a>
                                    <address class="font-size-2 mb-5">

                                        <span class="mb-2 font-weight-normal text-light">
                                           Bilge Adam Academy Boost5 Students <br />
                                            Ankara/Turkey

                                        </span>
                                    </address>
                                    <div class="mb-4">
                                        <a href="mailto:sale@bookworm.com"

                                            class="font-size-2 d-block h-light mb-1">sale@bookcave.com</a>
                                        <a href="tel:+1246-345-0695" class="font-size-2 d-block h-light">+9000000000</a>
                                    </div>
                                    <ul class="list-unstyled mb-0 d-flex">
                                        <li class="btn pl-0">
                                            <a class="h-light" href="#">

                                                <span class="fab fa-instagram"></span>
                                            </a>
                                        </li>
                                        <li class="btn">

                                            <a class="h-light" href="#">

                                                <span class="fab fa-facebook-f"></span>
                                            </a>
                                        </li>
                                        <li class="btn">

                                            <a class="h-light" href="#">

                                                <span class="fab fa-youtube"></span>
                                            </a>
                                        </li>
                                        <li class="btn">

                                            <a class="h-light" href="#">

                                                <span class="fab fa-twitter"></span>
                                            </a>
                                        </li>
                                        <li class="btn">

                                            <a class="h-light" href="#">

                                                <span class="fab fa-pinterest"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 mb-6 mb-lg-0">
                                <h4 class="font-size-3 h-light font-weight-medium mb-2 mb-xl-5 pb-xl-1">
                                    Explore
                                </h4>
                                <ul class="list-unstyled mb-0">
                                    <li class="pb-2">

                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover" href="#">About
                                            as</a>
                                    </li>
                                    <li class="py-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover"
                                            href="#">Sitemap</a>
                                    </li>
                                    <li class="py-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover"
                                            href="#">Bookmarks</a>
                                    </li>
                                    <li class="pt-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover" href="#">Sign

                                            in/Join</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-2 mb-6 mb-lg-0">
                                <h4 class="font-size-3 h-light font-weight-medium mb-2 mb-xl-5 pb-xl-1">
                                    Customer Service
                                </h4>
                                <ul class="list-unstyled mb-0">
                                    <li class="pb-2">

                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover" href="#">Help
                                            Center</a>
                                    </li>
                                    <li class="py-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover"
                                            href="#">Returns</a>
                                    </li>
                                    <li class="py-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover"
                                            href="#">Product Recalls</a>
                                    </li>
                                    <li class="py-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover"
                                            href="#">Accessibility</a>
                                    </li>
                                    <li class="py-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover"
                                            href="#">Contact Us</a>
                                    </li>
                                    <li class="pt-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover" href="#">Store
                                            Pickup</a>

                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-2 mb-6 mb-lg-0">
                                <h4 class="font-size-3 h-light font-weight-medium mb-2 mb-xl-5 pb-xl-1">
                                    Policy
                                </h4>
                                <ul class="list-unstyled mb-0">
                                    <li class="pb-2">

                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover" href="#">Return
                                            Policy</a>
                                    </li>
                                    <li class="py-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover" href="#">Terms
                                            Of Use</a>
                                    </li>
                                    <li class="py-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover"
                                            href="#">Security</a>
                                    </li>
                                    <li class="pt-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover"

                                            href="#">Privacy</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-2 mb-6 mb-lg-0">
                                <h4 class="font-size-3 h-light font-weight-medium mb-2 mb-xl-5 pb-xl-1">
                                    Categories
                                </h4>
                                <ul class="list-unstyled mb-0">
                                    <li class="pb-2">

                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover"
                                            href="#">Action</a>
                                    </li>
                                    <li class="py-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover"
                                            href="#">Comedy</a>
                                    </li>
                                    <li class="py-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover"
                                            href="#">Drama</a>
                                    </li>
                                    <li class="py-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover"
                                            href="#">Horror</a>
                                    </li>
                                    <li class="py-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover"
                                            href="#">Kids</a>
                                    </li>
                                    <li class="pt-2">
                                        <a class="font-size-2 h-light widgets-hover transition-3d-hover"

                                            href="#">Romantic Comedy</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-1">
                    <div class="container">
                        <div class="d-lg-flex text-center text-lg-left justify-content-between align-items-center">

                            <p class="mb-3 mb-lg-0 font-size-2 text-light">
                                ©2022 Book Cave. All rights reserved

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jQuery/js/jquery.min.js"></script>
    <script src="~/lib/jQuery/js/jquery-migrate.min.js"></script>
    <script src="~/lib/popper/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap-select.min.js"></script>
    <script src="~/lib/jQuery/js/jquery.zeynep.js"></script>
    <script src="~/lib/jQuery/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/lib/slick/js/slick.min.js"></script>
    <script src="~/lib/hs/js/hs.core.js"></script>
    <script src="~/lib/hs/js/hs.unfold.js"></script>
    <script src="~/lib/hs/js/hs.malihu-scrollbar.js"></script>
    <script src="~/lib/hs/js/hs.slick-carousel.js"></script>
    <script src="~/lib/hs/js/hs.show-animation.js"></script>
    <script src="~/lib/hs/js/hs.selectpiker.js"></script>
    <script src="~/lib/bootstrap/js/filter.js"></script>

    <script>
        $(document).on("ready", function () {
            // initialization of unfold component
            $.HSCore.components.HSUnfold.init($("[data-unfold-target]"));

            // initialization of malihu scrollbar
            $.HSCore.components.HSMalihuScrollBar.init($(".js-scrollbar"));

            // initialization of slick carousel
            $.HSCore.components.HSSlickCarousel.init(".js-slick-carousel");

            // initialization of show animations
            $.HSCore.components.HSShowAnimation.init(".js-animation-link");

            // init zeynepjs
            var zeynep = $(".zeynep").zeynep({
                onClosed: function () {
                    // enable main wrapper element clicks on any its children element
                    $("body main").attr("style", "");

                    console.log("the side menu is closed.");
                },
                onOpened: function () {
                    // disable main wrapper element clicks on any its children element
                    $("body main").attr("style", "pointer-events: none;");

                    console.log("the side menu is opened.");
                },
            });

            // handle zeynep overlay click
            $(".zeynep-overlay").click(function () {
                zeynep.close();
            });

            // open side menu if the button is clicked
            $(".cat-menu").click(function () {
                if ($("html").hasClass("zeynep-opened")) {
                    zeynep.close();
                } else {
                    zeynep.open();
                }
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", false)
</body>

</html>
