@using Microsoft.AspNetCore.Identity
@using BookCave.Persistance.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link" style="color:white; font-size:16px!important;" asp-area="Identity" asp-page="/Account/Manage/Dashboard">My Account</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button style="background-color: transparent; border: 0px solid transparent; color: white; font-size: 16px!important;" class="nav-link mr-2 ">
               Logout <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">
            <i class="fa-regular fa-user"></i>
        </a>
    </li>
}

