@model Comment

<div class="row">
    <div class="col-lg-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Details</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <ul class="list-group-item">
                    <li class="list-item">User Id: @Model.UserId</li>
                    <li class="list-item">Comment Created Date: @Model.CreatedDate.ToShortDateString()</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Title : @Model.Title</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                    @Model.Content
                </p>
            </div>
        </div>
        <div class="ibox-tools">
            <a asp-action="Index" class="btn btn-primary text-white btn-xs ">« Go back </a>
        </div>
    </div>
</div>
