@page
@model ChangePasswordModel
<form method="post">
    @if (!Model.ModelState.IsValid)
    {
        <div asp-validation-summary="All" class="alert alert-danger">
        </div>
    }
    <div class="pt-5 pt-lg-8 pl-md-5 pl-lg-9 space-bottom-2 space-bottom-lg-3 mb-xl-1">
        <h6 class="font-weight-medium font-size-7 ml-lg-1 mb-lg-8 pb-xl-1">
            Change Password
        </h6>
        <partial name="_StatusMessage" model="Model.StatusMessage" />
        <div class="row">
            <div class="col-md-12 mb-4">
                <div class="js-form-message">
                    <label asp-for="Input.OldPassword">Current Password</label>
                    <input asp-for="Input.OldPassword" type="password" class="form-control rounded-0" />
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12 mb-4">
                <div class="js-form-message">
                    <label asp-for="Input.NewPassword">New Password</label>
                    <input asp-for="Input.NewPassword" type="password" class="form-control rounded-0" />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12 mb-5">
                <div class="js-form-message">
                    <label asp-for="Input.ConfirmPassword">Confirm new password</label>
                    <input asp-for="Input.ConfirmPassword" type="password" class="form-control rounded-0" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="ml-3">
                <button type="submit"
                        class="btn btn-wide btn-dark text-white rounded-0 transition-3d-hover height-60 width-390">
                    Save Changes
                </button>
            </div>
        </div>
    </div>
</form>