@page
@model DashboardModel

<div class="pt-5 pt-lg-8 pl-md-5 pl-lg-9 space-bottom-2 space-bottom-lg-3 mb-xl-1">
    <h6 class="font-weight-medium font-size-7 ml-lg-1 mb-lg-8 pb-xl-1">
        Dashboard
    </h6>
    <div class="ml-lg-1 mb-4">
        <span class="font-size-22">Hello @Model.Input.UserName</span>
    </div>
    <div class="mb-4">
        <p class="mb-0 font-size-2 ml-lg-1 text-gray-600">
            From your account dashboard you can view your
            <span class="text-dark">recent orders,</span> manage your
            <span class="text-dark">shipping and billing addresses,</span>
            and edit your
            <span class="text-dark">password and account details.</span>
        </p>
    </div>
    <div class="row no-gutters row-cols-1 row-cols-sm-4 row-cols-md-2 row-cols-lg-4">
        <div class="col">
            <div class="border py-8 text-center">
                <a class="btn bg-gray-200 rounded-circle px-4 mb-2" href="/Identity/Account/Manage/Orders">
                    <i class="fa-solid fa-truck"></i>
                </a>
                <div class="font-size-2 mb-xl-1">Orders</div>
            </div>
        </div>
        <div class="col">
            <div class="border border-left-0 py-8 text-center">
                <a class="btn bg-gray-200 rounded-circle px-4 mb-2" href="/Identity/Account/Manage/Comments">
                    <i class="fa-solid fa-comment"></i>
                </a>
                <div class="font-size-2 mb-xl-1">Comments</div>
            </div>
        </div>
        <div class="col" style="
">
            <div class="border border-left-0 py-8 text-center">
                <a class="btn bg-gray-200 rounded-circle px-4 mb-2" href="/Identity/Account/Manage/ChangePassword">
                    <i class="fa-solid fa-lock-open"></i>
                </a>
                <div class="font-size-2 mb-xl-1">Password Change</div>
            </div>
        </div>
        <div class="col">
            <div class="border py-8 text-center">
                <a class="btn bg-gray-200 rounded-circle px-4 mb-2" href="/Identity/Account/Manage/PersonalInfo">
                    <i class="fa-regular fa-user"></i>
                </a>
                <div class="font-size-2 mb-xl-1">Personal Info</div>
            </div>
        </div>
    </div>
</div>

