@page
@model PersonalInfoModel

<form method="post">
    @if (!Model.ModelState.IsValid)
    {
        <div asp-validation-summary="All" class="alert alert-danger">
        </div>
    }
    <div class="border-bottom mb-6 pb-3 mb-lg-8 pb-lg-4">
        <div class="pt-5 pl-md-5 pt-lg-8 pl-lg-9">
            <h6 class="font-weight-medium font-size-7 ml-lg-1 mb-lg-8 pb-xl-1">
                Account Details
            </h6>
            <partial name="_StatusMessage" model="Model.StatusMessage" />

            <div class="font-weight-medium font-size-22 mb-4 pb-xl-1">
                Edit Account
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="js-form-message">
                        <label asp-for="Input.Name">First name *</label>
                        <input asp-for="Input.Name" type="text" class="form-control rounded-0 pl-3 placeholder-color-3"
                               placeholder="Your name" required />
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="js-form-message">
                        <label asp-for="Input.LastName">Last name *</label>
                        <input asp-for="Input.LastName" type="text" class="form-control rounded-0 pl-3 placeholder-color-3"
                               placeholder="Your last name" required />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12 mb-4">
                    <div class="js-form-message">
                        <label asp-for="Mail">Email</label>
                        <input asp-for="Mail" type="text" class="form-control rounded-0" required readonly />
                    </div>
                </div>
                <div class="ml-3">
                    <button type="submit"
                            class="btn btn-wide btn-dark text-white rounded-0 transition-3d-hover height-60 width-390">
                        Save Changes
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>