@model AddBookViewModel


<style>
    .input-validation-error{
        border: 1px solid red;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Add new book..</h5>
                <div class="ibox-tools">
                    <a asp-action="Index" class="btn btn-success text-white btn-xs">« Go back </a>
                </div>
            </div>
            <div class="ibox-content">
                <form method="post" enctype="multipart/form-data">

                    <div class="form-group row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-form-label">ISBN</label>
                                    <input asp-for="ISBN" type="text" class="form-control"  placeholder="">
                                    <span class="text-danger"  asp-validation-for="ISBN"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group  row">
                                <div class="col-sm-11">
                                    <label class="col-form-label">Name</label>
                                    <input asp-for="BookName" type="text" class="form-control">
                                    <span class="text-danger"  asp-validation-for="BookName"></span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <hr>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label class="col-form-label">Details</label>
                            <textarea asp-for="Details" class="form-control" rows="10" placeholder=""></textarea>
                            <span class="text-danger"  asp-validation-for="Details"></span>
                        </div>
                    </div>

                    <hr>
                    <div class="form-group row justify-content-between align-items-center">
                        <div class="col-sm-3">
                            <label class="col-form-label">Publish Year</label>
                            <input asp-for="PublishYear" class="form-control" type="number" min="1700" max="2024" step="1">
                            <span class="text-danger"  asp-validation-for="PublishYear"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="col-form-label">Unit Price ($)</label>
                            <input asp-for="Price" class="form-control" type="number" min="0" max="4000" step="any">
                            <span class="text-danger"  asp-validation-for="Price"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="col-form-label">Page</label>
                            <input asp-for="NumberOfPage" class="form-control" type="number" min="0" max="14000" step="1">
                            <span class="text-danger"  asp-validation-for="NumberOfPage"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="col-form-label">Stock</label>
                            <input asp-for="Stock" class="form-control" type="number" min="0" max="4000" step="1">
                            <span class="text-danger"  asp-validation-for="Stock"></span>
                        </div>
                    </div>



                    <div class="row mt-4">
                        <div class="col-md-4">
                            <label class="col-form-label">Author</label>
                            <select asp-items="Model.Authors" asp-for="SelectedAuthorId" class="form-control">
                            </select>
                        </div>
                        <div class="col-md-4 mt-2 mt-md-0">
                            <label class="col-form-label">Publishers</label>

                            <select asp-items="Model.Publishers" asp-for="SelectedPublisherId" class="form-control">
                            </select>
                        </div>
                        <div class="col-md-4 mt-2  mt-md-0">
                            <label class="col-form-label">Categories</label>

                            <select asp-items="Model.Categories" asp-for="SelectedCategoryId" class="form-control">
                            </select>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-sm-12">
                            <label class="col-form-label">Book Image</label>
                            <div class="custom-file">
                                <input id="logo" asp-for="Picture" type="file" class="custom-file-input">
                                <label for="logo" class="custom-file-label">Choose file...</label>
                            </div>
                            <span class="text-danger"  asp-validation-for="Picture"></span>
                        </div>
                    </div>
                    <button class="btn btn-primary mt-3" type="submit"><i class="fa fa-check"></i>&nbsp;Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/jQuery/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jQuery/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $('.custom-file-input').on('change', function () {
            let fileName = $(this).val().split('\\').pop();
            $(this).next('.custom-file-label').addClass("selected").html(fileName);
        });
    </script>

}